<footer>
    <div class="container">
        <div class="flex">
            <div class="col-m-4">
                <a href="" title="" class="logo"><img src="./assets/img/logo-1.svg" alt=""></a>
                <div class="text txt-xs font-semibold">Wealify, LLC. is a financial technology company and is not a bank. The Wealify Visa® Debit Card is issued by Blue Ridge Bank pursuant to a license...</div>
                <a href="" title="" class="btn-more txt-xs font-semibold">Show more</a>
            </div>
            <div class="col-m-2">
                <h4>Product</h4>
                <ul class="link">
                    <li><a href="" title="Overview">Overview</a></li>
                    <li><a href="" title="Account">Account</a></li>
                    <li><a href="" title="Credit Card">Credit Card</a></li>
                    <li><a href="" title="Financial">Financial</a></li>
                    <li><a href="" title="Management">Management</a></li>
                    <li><a href="" title="Bill Pay">Bill Pay</a></li>
                </ul>
            </div>
            <div class="col-m-2">
                <h4>company</h4>
                <ul class="link">
                    <li><a href="" title="About Us">About Us</a></li>
                    <li><a href="" title="Careers">Careers</a></li>
                    <li><a href="" title="Contact">Contact</a></li>
                    <li><a href="" title="Press">Press</a></li>
                    <li><a href="" title="Blog">Blog</a></li>
                </ul>
            </div>
            <div class="col-m-2">
                <h4>support</h4>
                <ul class="link">
                    <li><a href="" title="Help Center">Help Center</a></li>
                    <li><a href="" title="Contact">Contact</a></li>
                    <li><a href="" title="Affiliates">Affiliates</a></li>
                    <li><a href="" title="Changelog">Changelog</a></li>
                </ul>
            </div>
            <div class="col-m-3">
                <h4>connect</h4>
                <div class="social flex">
                    <a href="" title="" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="" title="" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                    <a href="" title="" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="" title="" class="youtube"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container flex">
            <ul class="menu txt-xs font-semibold flex">
                <li><a href="" title="Privacy Policy">Privacy Policy</a></li>
                <li><a href="" title="Terms & Conditions">Terms & Conditions</a></li>
                <li><a href="" title="Policies">Policies</a></li>
            </ul>
            <div class="copyright txt-xs font-semibold">© Wealify 2023. All rights reserved.</div>
        </div>
    </div>
</footer>