<main>
    <div class="wealify-about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/img-about.jpg" alt=""></div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <h1 class="title mb-sm">A snapshot of Wealify</h1>
                        <p class="txt-sm">Wealify, a seasoned organization in e-commerce and IT, focuses on developing platforms that simplify global trade for Vietnamese businesses. Using our technology expertise and international experience, we enable expansion and easy interaction with worldwide companies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-feedback">
        <div class="container">
            <div class="feedback p-sm flex-lc">
                <div class="feedback__content">
                    <h4 class="txt-sm font-bold">What they say about us</h4>
                    <div class="text">“We needed a better card and spend management solution to serve everyone faster”.</div>
                    <div class="author">
                        <div class="txt-md font-bold mb-1">Andrew Maher</div>
                        <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                    </div>
                </div>
                <div class="feedback__img">
                    <img src="./assets/img/img-laptop-1.png" class="ml-auto" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-drivers">
        <div class="container">
            <h2 class="title text-center">What drives us</h2>
            <div class="driver-list mt-md">
                <div class="item">
                    <div class="icon mb-4"><img src="./assets/img/users.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Customers First</h4>
                    <p class="txt-xs">Our customers are why we are here. Knowing them, keeping them and consistently delivering a superior experience is the only way we can fulfill our mission.</p>
                </div>
                <div class="item">
                    <div class="icon mb-4"><img src="./assets/img/light.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Obsessive Curiosity</h4>
                    <p class="txt-xs">We always start by asking why and seek to understand. We have a hunger for knowledge, seek challenges that are insatiably interesting and always consider if there are better ideas.</p>
                </div>
                <div class="item">
                    <div class="icon mb-4"><img src="./assets/img/circles.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Inspire and Be Inspired</h4>
                    <p class="txt-xs">We are a melting pot of cultures and ideas, and we recognise that happy, healthy and highly-functioning teams are inclusive and diverse. We celebrate success, share knowledge, learn and grow together.</p>
                </div>
                <div class="item">
                    <div class="icon mb-4"><img src="./assets/img/crown.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Intellectual Honesty</h4>
                    <p class="txt-xs">We want to constantly seek the truth, to be open, constructive and transparent, approaching every problem with data and facts, not conjecture and opinion.</p>
                </div>
                <div class="item">
                    <div class="icon mb-4"><img src="./assets/img/magic.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Craftsmanship</h4>
                    <p class="txt-xs">We are about product and engineering excellence. We create products and solutions with passion, finesse and meticulous attention-to-detail to deliver the best customer experience and outcome.</p>
                </div>
                <div class="item">
                    <div class="icon mb-4"><img src="./assets/img/lighttning.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Make Impact</h4>
                    <p class="txt-xs">The reason we show up every day is our desire to make an impact and create a better world with what we do. We have one purpose in mind - to empower businesses of all sizes to grow without borders and scale the digital economy.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-branch py-lg">
        <div class="container">
            <h2 class="title text-center">Our global branch</h2>
            <div class="branch-list mt-md">
                <div class="branch" data-aos="fade-up">
                    <div class="img"><img src="./assets/img/vn.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Vietnam Office</h4>
                    <div class="txt-xs font-semibold">
                        <p>Mrs Smith 813 Howard Street</p>
                        <p>Oswego NY 13126 USA</p>
                    </div>
                    <div class="hotline txt-xs font-semibold"><a href="tel:+14244019314">+14244019314</a></div>
                    <div class="mail txt-xs font-semibold"><a href="mailto:contact@wealify.com">contact@wealify.com</a></div>
                </div>
                <div class="branch" data-aos="fade-up" data-aos-delay="200">
                    <div class="img"><img src="./assets/img/singapore.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Singapore Office</h4>
                    <div class="txt-xs font-semibold">
                        <p>Mrs Smith 813 Howard Street</p>
                        <p>Oswego NY 13126 USA</p>
                    </div>
                    <div class="hotline txt-xs font-semibold"><a href="tel:+14244019314">+14244019314</a></div>
                    <div class="mail txt-xs font-semibold"><a href="mailto:contact@wealify.com">contact@wealify.com</a></div>
                </div>
                <div class="branch" data-aos="fade-up" data-aos-delay="400">
                    <div class="img"><img src="./assets/img/hongkong.svg" alt=""></div>
                    <h4 class="txt-md font-bold">HongKong Office</h4>
                    <div class="txt-xs font-semibold">
                        <p>Mrs Smith 813 Howard Street</p>
                        <p>Oswego NY 13126 USA</p>
                    </div>
                    <div class="hotline txt-xs font-semibold"><a href="tel:+14244019314">+14244019314</a></div>
                    <div class="mail txt-xs font-semibold"><a href="mailto:contact@wealify.com">contact@wealify.com</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-register">
        <div class="content text-center">
            <h5 class="txt-sm font-bold" data-aos="fade-up">Ready to Get Started</h5>
            <h2 class="title" data-aos="fade-up" data-aos-delay="200">Let’s dream big together</h2>
            <div class="box-btn flex-center" data-aos="fade-up" data-aos-delay="400">
                <a href="" title="" class="btn-pr white flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
    </div>
</main>