<main>
    <div class="wealify-text bg-dc-company pr">
        <div class="header mx-auto text-center">
            <h1 class="title mb-sm" data-aos="fade-up">The total financial package for startups.</h1>
            <div class="text-des txt-sm" data-aos="fade-up" data-aos-delay="200">International business in the free lands has never been easier with the support of Wealify.</div>
            <div class="box-btn flex-center" data-aos="fade-up" data-aos-delay="400">
                <a href="" title="" class="btn-pr flex-center"><span>Contact now for a consultation!</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
        <div class="setup-list">
            <div class="item">
                <div class="img"><img src="./assets/img/usa.svg" alt=""></div>
                <div class="content">
                    <h4 class="txt-sm font-bold">USA</h4>
                    <p class="txt-xs">Support services to set up a company in the USA</p>
                    <a href="" title="" class="btn-setup txt-xs">Set up now</a>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="./assets/img/singapore.svg" alt=""></div>
                <div class="content">
                    <h4 class="txt-sm font-bold">Singapore</h4>
                    <p class="txt-xs">Support services to set up a company in the USA</p>
                    <a href="" title="" class="btn-setup txt-xs">Set up now</a>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="./assets/img/hongkong.svg" alt=""></div>
                <div class="content">
                    <h4 class="txt-sm font-bold">HongKong</h4>
                    <p class="txt-xs">Support services to set up a company in the USA</p>
                    <a href="" title="" class="btn-setup txt-xs">Set up now</a>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="./assets/img/uk.svg" alt=""></div>
                <div class="content">
                    <h4 class="txt-sm font-bold">UK</h4>
                    <p class="txt-xs">Support services to set up a company in the USA</p>
                    <a href="" title="" class="btn-setup txt-xs">Set up now</a>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="./assets/img/eur.svg" alt=""></div>
                <div class="content">
                    <h4 class="txt-sm font-bold">Eur</h4>
                    <p class="txt-xs">Support services to set up a company in the USA</p>
                    <a href="" title="" class="btn-setup txt-xs">Set up now</a>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="./assets/img/hongkong.svg" alt=""></div>
                <div class="content">
                    <h4 class="txt-sm font-bold">HongKong</h4>
                    <p class="txt-xs">Support services to set up a company in the USA</p>
                    <a href="" title="" class="btn-setup txt-xs">Set up now</a>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="./assets/img/uk.svg" alt=""></div>
                <div class="content">
                    <h4 class="txt-sm font-bold">UK</h4>
                    <p class="txt-xs">Support services to set up a company in the USA</p>
                    <a href="" title="" class="btn-setup txt-xs">Set up now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-benefits pr">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-md-6">
                    <div class="content">
                        <h2 class="title" data-aos="fade-up">The benefits of venture debt.</h2>
                        <ul class="txt-md font-bold" data-aos="fade-up" data-aos-delay="200">
                            <li><a href="" title="">Benefits of setting up a company in the US-UK</a></li>
                            <li><a href="" title="">Why a US-UK business account is needed?</a></li>
                            <li><a href="" title="">Questions about corporate tax in US-UK</a></li>
                            <li><a href="" title="">Overview of business types in the US-UK</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/img-phone-2.png" class="ml-auto" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-reviews">
        <div class="container">
            <div class="tag">Our Reviews</div>
            <div class="header flex justify-content-between">
                <h2 class="title" data-aos="fade-up">Build today, win tomorrow</h2>
                <div class="text-des txt-sm">Our global financial infrastructure is purpose-built to power the future of customer experiences.</div>
            </div>
        </div>
        <div class="review-list">
            <div class="item">
                <div class="rating">
                    <div class="rating__value" style="width: 100%"></div>
                </div>
                <div class="text-review txt-sm">“Wealify makes it easy and stressless to manage accounts with other providers and a global workforce. And of course, an interest-bearing cash account is a bonus!”</div>
                <div class="author flex-lc">
                    <div class="author__img"><img src="./assets/img/avatar.png" alt=""></div>
                    <div class="author__detail">
                        <div class="name txt-sm font-bold">Andrew Maher</div>
                        <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="rating">
                    <div class="rating__value" style="width: 100%"></div>
                </div>
                <div class="text-review txt-sm">“Wealify makes it easy and stressless to manage accounts with other providers and a global workforce. And of course, an interest-bearing cash account is a bonus!”</div>
                <div class="author flex-lc">
                    <div class="author__img"><img src="./assets/img/avatar.png" alt=""></div>
                    <div class="author__detail">
                        <div class="name txt-sm font-bold">Andrew Maher</div>
                        <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="rating">
                    <div class="rating__value" style="width: 100%"></div>
                </div>
                <div class="text-review txt-sm">“Wealify makes it easy and stressless to manage accounts with other providers and a global workforce. And of course, an interest-bearing cash account is a bonus!”</div>
                <div class="author flex-lc">
                    <div class="author__img"><img src="./assets/img/avatar.png" alt=""></div>
                    <div class="author__detail">
                        <div class="name txt-sm font-bold">Andrew Maher</div>
                        <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="rating">
                    <div class="rating__value" style="width: 100%"></div>
                </div>
                <div class="text-review txt-sm">“Wealify makes it easy and stressless to manage accounts with other providers and a global workforce. And of course, an interest-bearing cash account is a bonus!”</div>
                <div class="author flex-lc">
                    <div class="author__img"><img src="./assets/img/avatar.png" alt=""></div>
                    <div class="author__detail">
                        <div class="name txt-sm font-bold">Andrew Maher</div>
                        <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reivew-control flex">
            <button type="button" class="btn-prev"></button>
            <button type="button" class="btn-next"></button>
        </div>
    </div>
    <div class="wealify-text">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/img-earth.png" alt=""></div>
                </div>
                <div class="col-md-6">
                    <div class="content md">
                        <h2 class="title sm" data-aos="fade-up">Wealify thousands of founders to start, run,  and grow their business</h2>
                        <ul class="check-list" data-aos="fade-up" data-aos-delay="200">
                            <li>US Business formation</li>
                            <li>EIN & Operating Agreement</li>
                            <li>Free Registered Agent Service for 1 year</li>
                            <li>Mailing address/virtual mailbox</li>
                            <li>Help setting up US bank account</li>
                        </ul>
                        <div class="box-btn flex-lc" data-aos="fade-up" data-aos-delay="400">
                            <a href="" title="" class="btn-pr flex-center"><span>Contact now for a consultation!</span><i class="icon arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="formation">
                <li class="flex-lc">
                    <h3>Form my company</h3>
                    <div class="info-list flex">
                        <div class="lb flex-lc txt-sm">1 Week</div>
                    </div>
                </li>
                <li class="flex-lc">
                    <h3>Get your EIN</h3>
                    <div class="info-list flex">
                        <div class="lb flex-lc txt-sm">With SSN: 1 Week</div>
                        <div class="lb flex-lc txt-sm">Without SSN: 8 - 11 Week</div>
                    </div>
                </li>
                <li class="flex-lc">
                    <h3>Apply for your US bank account</h3>
                    <div class="info-list flex">
                        <div class="lb flex-lc txt-sm">1-2 Week</div>
                    </div>
                </li>
                <li class="flex-lc">
                    <h3>Setup payment</h3>
                    <div class="info-list flex">
                        <div class="lb flex-lc txt-sm">A few day</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="wealify-feedback pr">
        <div class="container">
            <div class="feedback">
                <h4 class="txt-sm font-bold">What they say about us</h4>
                <div class="feedback-list">
                    <div class="item">
                        <div class="text">“We needed a better card and spend management solution to serve everyone faster and deliver a better experience for end users.”</div>
                        <div class="author">
                            <div class="txt-md font-bold mb-1">Andrew Maher</div>
                            <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">“We needed a better card and spend management solution to serve everyone faster and deliver a better experience for end users.”</div>
                        <div class="author">
                            <div class="txt-md font-bold mb-1">Andrew Maher</div>
                            <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-support">
        <div class="container">
            <h2 class="title text-center mx-auto">Support your business needs after formation</h2>
            <div class="support-list flex-center mt-md">
                <div class="item" data-aos="fade-right">
                    <div class="icon"><img src="./assets/img/icon-step1.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Tax and compliance</h4>
                    <p class="txt-xs">Get all your paperwork filed and stop worrying about fines</p>
                </div>
                <div class="item" data-aos="fade-right" data-aos-delay="200">
                    <div class="icon"><img src="./assets/img/icon-step2.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Wealify banking</h4>
                    <p class="txt-xs">Receive client payments in USD from around the world</p>
                </div>
                <div class="item" data-aos="fade-right" data-aos-delay="400">
                    <div class="icon"><img src="./assets/img/manage.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Bookeeping</h4>
                    <p class="txt-xs">Track your business finances with ease</p>
                </div>
            </div>
            <div class="img-wrapper">
                <img src="./assets/img/img-screenshot-1.png" alt="">
            </div>
        </div>
    </div>
    <div class="wealify-faq bg-black py-lg pr">
        <div class="container">
            <div class="content flex">
                <h2 class="title" data-aos="fade-right">Wealify <br> for Startup</h2>
                <div class="faq-list aos-init" data-aos="fade-up" data-aos-delay="200">
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">What is my VCC card and how does it work?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside">
                                <p>The Virtual Company Card (VCC) is a virtual prepaid card designed to offer corporate users a seamless, multi-scene global payment solution. By successfully registering with Wealify, companies and individuals can enjoy the benefits of no issuance fees, zero transaction fees, and the ability to manage a variety of payments with ease. Furthermore, users are permitted to issue an unlimited number of virtual prepaid cards that can be utilized</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">Is my card a virtual card or a hard card?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">How can I top up the card for use?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">Can I receive outside money on this card?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-info py-lg">
        <div class="container">
            <h2 class="title text-center">Looking for more information?</h2>
            <div class="info-list mt-md">
                <div class="item" data-aos="fade-up">
                    <h4 class="txt-md font-bold">Wealify FAQ</h4>
                    <p class="txt-xs">Unsure how US business taxes work? Wondering how to setup your company on an H1-B visa?</p>
                    <a href="" title="Learn more" class="btn-more txt-xs">Learn more</a>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="200">
                    <h4 class="txt-md font-bold">Wealify for US Resident</h4>
                    <p class="txt-xs">Learn how to form a company in your home state,what entity type is right for you and more!</p>
                    <a href="" title="Learn more" class="btn-more txt-xs">Learn more</a>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="400">
                    <h4 class="txt-md font-bold">Wealify for non-US Resident</h4>
                    <p class="txt-xs">You dont need to be a US Resident to start your dream US Company with Wealify.Learn how to form from around the world!</p>
                    <a href="" title="Learn more" class="btn-more txt-xs">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-register">
        <div class="content text-center">
            <h5 class="txt-sm font-bold" data-aos="fade-up">Ready to Get Started</h5>
            <h2 class="title" data-aos="fade-up" data-aos-delay="200">Let’s dream big together</h2>
            <div class="box-btn flex-center" data-aos="fade-up" data-aos-delay="400">
                <a href="" title="" class="btn-pr white flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
    </div>
</main>