<main>
    <div class="wealify-contact">
        <div class="container">
            <div class="header txt-xs font-semibold">
                <h1 class="title sm mb-sm">Get support</h1>
                <p>Need some assistance with navigating your account? <a href="" title="">Click here</a> to find answers for the questions you have about Wealify.</p>
                <p>Our team of dedicated support specialists is also on-hand to help you with any specific queries, enter your details below and our team will get back to you as soon as possible.</p>
            </div>
            <div class="form-contact">
                <form action="" method="">
                    <div class="form-group">
                        <label>Please choose the area where you need support</label>
                        <select class="select2-min">
                            <option>Payout</option>
                        </select>
                    </div>                  
                    <fieldset>
                        <div class="form-group">
                            <label>Your email address</label>
                            <input type="email" name="" placeholder="">
                        </div>
                        <br>
                        <div class="form-group">
                            <select class="select2-min">
                                <option>-</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" name="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea></textarea>
                        </div>
                        <div class="form-group">
                            <label>Company Name</label>
                            <input type="text" name="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>First name</label>
                            <input type="text" name="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Last name</label>
                            <input type="text" name="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Phone number (optional)</label>
                            <input type="number" name="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <select class="select2-min">
                                <option>-</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Attachments(optional)</label>
                            <div class="box-upload">
                                <div class="upload flex-center pr">
                                    <input id="upload_id" type="file" required="">
                                    <p><span>Add file</span> or drop files here</p>
                                </div>
                                <div id="image-holder" class="image-holder"></div>
                            </div>
                        </div>
                        <div class="flex-center">
                            <button type="button" class="btn-pr black"><span>Submit now</span><i class="icon arrow-right"></i></button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="wealify-info-contact">
        <div class="container">
            <div class="local-support">
                <h2 class="title sm">Our local customer support</h2>
                <div class="local-list">
                    <div class="item txt-xs font-semibold">
                        <h4 class="txt-sm font-bold mb-3">Canada</h4>
                        <p>+1 (450) 367-5490</p>
                        <p>CAN customers only. Available from</p>
                        <p>8:00-18:00 PDT / PST.</p>
                    </div>
                    <div class="item txt-xs font-semibold">
                        <h4 class="txt-sm font-bold mb-3">China</h4>
                        <p>+864008663888</p>
                        <p>CN customers only. Available from</p>
                        <p>9:00-18:00 CST.</p>
                    </div>
                    <div class="item txt-xs font-semibold">
                        <h4 class="txt-sm font-bold mb-3">United States</h4>
                        <p>+1 (450) 367-5490</p>
                        <p>CAN customers only. Available from</p>
                        <p>8:00-18:00 PDT / PST.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-info-contact">
        <div class="container">
            <div class="office-location">
                <h2 class="title sm">Office locations</h2>
                <div class="office-list">
                    <div class="item txt-xs font-semibold">
                        <h4 class="txt-sm font-bold mb-3">Melbourne</h4>
                        <p>Level 7/15 William St. Melbourne, VIC 3000, Australia</p>
                    </div>
                    <div class="item txt-xs font-semibold">
                        <h4 class="txt-sm font-bold mb-3">Melbourne</h4>
                        <p>Level 7/15 William St. Melbourne, VIC 3000, Australia</p>
                    </div>
                    <div class="item txt-xs font-semibold">
                        <h4 class="txt-sm font-bold mb-3">Melbourne</h4>
                        <p>Level 7/15 William St. Melbourne, VIC 3000, Australia</p>
                    </div>
                    <div class="item txt-xs font-semibold">
                        <h4 class="txt-sm font-bold mb-3">Melbourne</h4>
                        <p>Level 7/15 William St. Melbourne, VIC 3000, Australia</p>
                    </div>
                    <div class="item txt-xs font-semibold">
                        <h4 class="txt-sm font-bold mb-3">Melbourne</h4>
                        <p>Level 7/15 William St. Melbourne, VIC 3000, Australia</p>
                    </div>
                    <div class="item txt-xs font-semibold">
                        <h4 class="txt-sm font-bold">Melbourne</h4>
                        <p>Level 7/15 William St. Melbourne, VIC 3000, Australia</p>
                    </div>
                    <div class="item txt-xs font-semibold">
                        <h4 class="txt-sm font-bold mb-3">Melbourne</h4>
                        <p>Level 7/15 William St. Melbourne, VIC 3000, Australia</p>
                    </div>
                    <div class="item txt-xs font-semibold">
                        <h4 class="txt-sm font-bold mb-3">Melbourne</h4>
                        <p>Level 7/15 William St. Melbourne, VIC 3000, Australia</p>
                    </div>
                    <div class="item txt-xs font-semibold">
                        <h4 class="txt-sm font-bold mb-3">Melbourne</h4>
                        <p>Level 7/15 William St. Melbourne, VIC 3000, Australia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>