<main>
    <div class="wealify-banner pr">
        <div class="banner">
            <div class="banner__img"><img src="./assets/img/bg-convert.jpg" alt=""></div>
            <div class="banner__content text-center">
                <h1 data-aos="fade-up">The easiest way to pay <br> your suppliers around the word</h1>
                <div class="text-des txt-sm" data-aos="fade-up" data-aos-delay="200">Get a free Wealify account, and pay suppliers internationally in an easier way</div>
                <div class="box-btn flex-center" data-aos="fade-up" data-aos-delay="400">
                    <a href="" title="" class="btn-pr white flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
                    <a href="" title="" class="btn-sub white">Contact Sale</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-work py-lg">
        <div class="container">
            <h2 class="title text-center">How it works</h2>
            <div class="procedure" data-aos="fade-up">
                <div class="item">
                    <div class="icon"><img src="./assets/img/contract.svg" alt=""></div>
                    <div class="text txt-xs font-semibold px-3">Sign up for a free Wealify account</div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/receive.svg" alt=""></div>
                    <div class="text txt-xs font-semibold px-3">Choose currency and top-up your account</div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/credit-card.svg" alt=""></div>
                    <div class="text txt-xs font-semibold px-3">Make direct payments using your currency accounts.</div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/group.svg" alt=""></div>
                    <div class="text txt-xs font-semibold px-3">Authrize Real-time transfers to recipients around the world</div>
                </div>
            </div>
            <div class="box-btn flex-center" data-aos="fade-up" data-aos-delay="200">
                <a href="" title="" class="btn-pr flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="wealify-dream pt-lg pr">
        <div class="container">
            <div class="header flex">
                <h2 class="title" data-aos="fade-up">Dream bigger, grow faster</h2>
                <div class="text-des txt-sm">Our global financial infrastructure is purpose-built to power the future of customer experiences.</div>
            </div>
            <ul class="check-list">
                <li data-aos="fade-up">
                    <h4 class="txt-md font-bold">No cost for inbound transactions</h4>
                    <p class="txt-xs font-semibold">Embed solutions that enable you to monetise new channels and reinvest earnings into your core platform.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                    <h4 class="txt-md font-bold">Send money fast & in full</h4>
                    <p class="txt-xs font-semibold">Embed solutions that enable you to monetise new channels and reinvest earnings into your core platform.</p>
                </li>
                <li data-aos="fade-up" data-aos-delay="400">
                    <h4 class="txt-md font-bold">Our best FX rates, always</h4>
                    <p class="txt-xs font-semibold">Embed solutions that enable you to monetise new channels and reinvest earnings into your core platform.</p>
                </li>
            </ul>
            <div class="img-wrapper"><img src="./assets/img/img-screenshot-2.png" alt=""></div>
        </div>
    </div>
    <div class="wealify-paying py-lg">
        <div class="container">
            <h2 class="title white text-center mx-auto">Paying suppliers with Wealify</h2>
            <div class="box-item">
                <div class="item" data-aos="fade-right">
                    <div class="icon"><img src="./assets/img/false.svg" alt=""></div>
                    <h3 class="txt-lg">Traditional Banks</h3>
                    <ul class="no-list txt-sm">
                        <li>Requires Multiple Documents</li>
                        <li>Payments Time Delays Due to Multiple Bank Intermediaries</li>
                        <li>More Risk</li>
                        <li>Expensive Handling Fees</li>
                    </ul>
                </div>
                <div class="item" data-aos="fade-left">
                    <div class="icon"><img src="./assets/img/success.svg" alt=""></div>
                    <h3 class="txt-lg">Wealify Payments</h3>
                    <ul class="yes-list txt-sm">
                        <li>No Intricacy Documents Requires</li>
                        <li>Transparent Costs Across the Board</li>
                        <li>Cheap FX rates</li>
                        <li>Safe and Secure</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-feedback pt-lg pr">
        <div class="container">
            <div class="feedback bg-pink flex">
                <div class="img-wrapper"><img src="./assets/img/img-feedback-2.png" alt=""></div>
                <div class="content">
                    <h4 class="txt-sm font-bold">What they say about us</h4>
                    <div class="feedback-list">
                        <div class="item">
                            <div class="rating">
                                <div class="rating__value" style="width: 100%"></div>
                            </div>
                            <div class="text sm">“ When it’s easy to comply, employees do it. Compliance is that simple.”</div>
                            <div class="author">
                                <div class="txt-md font-bold mb-1">Andrew Maher</div>
                                <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="rating">
                                <div class="rating__value" style="width: 100%"></div>
                            </div>
                            <div class="text">“ When it’s easy to comply, employees do it. Compliance is that simple.”</div>
                            <div class="author">
                                <div class="txt-md font-bold mb-1">Andrew Maher</div>
                                <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-btn flex-center">
                <a href="" title="" class="btn-pr flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="wealify-faq pr">
        <div class="container">
            <div class="content flex">
                <h2 class="title" data-aos="fade-right">Wealify <br> for Startup</h2>
                <div class="faq-list aos-init" data-aos="fade-up" data-aos-delay="200">
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">What is my VCC card and how does it work?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside">
                                <p>The Virtual Company Card (VCC) is a virtual prepaid card designed to offer corporate users a seamless, multi-scene global payment solution. By successfully registering with Wealify, companies and individuals can enjoy the benefits of no issuance fees, zero transaction fees, and the ability to manage a variety of payments with ease. Furthermore, users are permitted to issue an unlimited number of virtual prepaid cards that can be utilized</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">Is my card a virtual card or a hard card?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">How can I top up the card for use?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">Can I receive outside money on this card?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-register">
        <div class="content text-center">
            <h5 class="txt-sm font-bold" data-aos="fade-up">Ready to Get Started</h5>
            <h2 class="title" data-aos="fade-up" data-aos-delay="200">Let’s dream big together</h2>
            <form action="" class="form-register txt-xs" data-aos="fade-up" data-aos-delay="400">
                <div class="flex-center">
                    <input type="email" name="" placeholder="Enter your email" required>
                    <button type="submit" class="btn-submit">Get Started</button>
                </div>
            </form>
        </div>
    </div>
</main>