<main>
    <div class="wealify-text bg-dc-desk">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-5">
                    <div class="content sm">
                        <h1 class="title mb-sm" data-aos="fade-up">Wealify OTC Desk</h1>
                        <div class="text-des mb-sm txt-sm" data-aos="fade-up" data-aos-delay="200">Best-In-Class Service in Crypto, ultra-competitive price, and secure settlement.</div>
                        <div class="box-btn flex-lc" data-aos="fade-up" data-aos-delay="400">
                            <a href="" title="" class="btn-pr flex-center"><span>Start Trading</span><i class="icon arrow-right"></i></a>
                            <a href="" title="" class="btn-sub">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="img-wrapper" data-aos="zoom-in"><img src="./assets/img/img-otc-desk.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-procedure">
        <div class="container">
            <h2 class="title text-center">Onboarding Procedure</h2>
            <ul class="flex pr">
                <li data-aos="fade-right">
                    <div class="icon"><img src="./assets/img/signup.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Signup</h4>
                    <p class="txt-xs font-semibold">Open Wealify Institution account or personal account and finish KYC as required.</p>
                </li>
                <li data-aos="fade-right" data-aos-delay="300">
                    <div class="icon"><img src="./assets/img/execution.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Order Execution</h4>
                    <p class="txt-xs font-semibold">Orders could be placed through your dedicated trading chat room.</p>
                </li>
                <li data-aos="fade-right" data-aos-delay="600">
                    <div class="icon"><img src="./assets/img/discuss.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Discuss</h4>
                    <p class="txt-xs font-semibold">Request for real-time quotes offline from OTC trades.</p>
                </li>
                <li data-aos="fade-right" data-aos-delay="900">
                    <div class="icon"><img src="./assets/img/delivery.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Delivery</h4>
                    <p class="txt-xs font-semibold">Trades directly settled into your wallet or bank account along with a confirmation email.</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="wealify-about-desk pr">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="content">
                        <h2 class="mb-sm title" data-aos="fade-up">About Wealify OTC Desk</h2>
                        <div class="text-des mb-sm txt-sm font-semibold" data-aos="fade-up" data-aos-delay="200">
                            Wealify UAB, an Estonia- licensed entity offers a secure and professional over-the-counter (OTC) desk that allows inslients and high net-worth individuals to purchase or sell a number of cryptocurrencies with in a real-time manner, which can not only reduce te risk of market spage, but also get the ultra-competitive quotations and optimize capital efficiency.
                        </div>
                        <div class="box-btn flex-lc" data-aos="fade-up" data-aos-delay="400">
                            <a href="" title="" class="btn-pr flex-center"><span>See how it works</span><i class="icon arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/img-phone.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-features pr">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="feature-list flex" data-aos="fade-right">
                        <div class="col-m">
                            <div class="item flex">
                                <div class="icon"><img src="./assets/img/wallet.svg" alt=""></div>
                                <div class="content">
                                    <h4 class="txt-md font-bold">Unparalleled Liquidity</h4>
                                    <p class="txt-xs font-semibold">Direct access to global liquidity pools, to provide the best competitive prices.</p>
                                </div>
                            </div>
                            <div class="item flex">
                                <div class="icon"><img src="./assets/img/sealcheck.svg" alt=""></div>
                                <div class="content">
                                    <h4 class="txt-md font-bold">1 on 1 Service</h4>
                                    <p class="txt-xs font-semibold">Dedicated service at every step from our experienced and professional account manager</p>
                                </div>
                            </div>
                            <div class="item flex">
                                <div class="icon"><img src="./assets/img/coins.svg" alt=""></div>
                                <div class="content">
                                    <h4 class="txt-md font-bold">Multiple Currencies</h4>
                                    <p class="txt-xs font-semibold">Supporting trading pairs of major stablecoins and cryptocurrencies</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-m">
                            <div class="item flex">
                                <div class="icon"><img src="./assets/img/secure.svg" alt=""></div>
                                <div class="content">
                                    <h4 class="txt-md font-bold">Secure & Compliant</h4>
                                    <p class="txt-xs font-semibold">Wealify is a digital asset service provider compliant with regulations in multiple countries, including Lithuania and Gibraltar.</p>
                                </div>
                            </div>
                            <div class="item flex">
                                <div class="icon"><img src="./assets/img/bookmark.svg" alt=""></div>
                                <div class="content">
                                    <h4 class="txt-md font-bold">Settlement Flexibility</h4>
                                    <p class="txt-xs font-semibold">Lock your desired price and settle trades to your Huobi account, your bank and/or the external wallet of your preference.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2 class="title mb-sm">Wealify OTC Features</h2>
                    <div class="text-des mb-sm txt-sm font-semibold">Wealify UAB, an Estonia- licensed entity offers a secure and professional over-the-counter (OTC) desk that allows</div>
                    <div class="box-btn flex-lc">
                        <a href="" title="" class="btn-pr flex-center"><span>See how it works</span><i class="icon arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-faq pr">
        <div class="container">
            <div class="content flex">
                <h2 class="title" data-aos="fade-right">Wealify <br> for Startup</h2>
                <div class="faq-list aos-init" data-aos="fade-up" data-aos-delay="200">
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">What is my VCC card and how does it work?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside">
                                <p>The Virtual Company Card (VCC) is a virtual prepaid card designed to offer corporate users a seamless, multi-scene global payment solution. By successfully registering with Wealify, companies and individuals can enjoy the benefits of no issuance fees, zero transaction fees, and the ability to manage a variety of payments with ease. Furthermore, users are permitted to issue an unlimited number of virtual prepaid cards that can be utilized</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">Is my card a virtual card or a hard card?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">How can I top up the card for use?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">Can I receive outside money on this card?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-register">
        <div class="content text-center">
            <h5 class="txt-sm font-bold" data-aos="fade-up">Ready to Get Started</h5>
            <h2 class="title" data-aos="fade-up" data-aos-delay="200">Let’s dream big together</h2>
            <div class="box-btn flex-center" data-aos="fade-up" data-aos-delay="400">
                <a href="" title="" class="btn-pr white flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
    </div>
</main>