<main>
    <div class="wealify-help pr">
        <div class="container">
            <div class="box-search text-center" data-aos="fade-up">
                <h5 class="txt-md font-bold">Help center</h5>
                <h1 class="title mb-sm">Hi, How can we help?</h1>
                <form action="" class="pr">
                    <input type="text" name="" placeholder="Try “create account” or something else">
                    <button type="submit" class="btn-submit"></button>
                </form>
                <div class="tag-list flex-center mt-4">
                    <a href="" title="" class="txt-xs">Transer</a>
                    <a href="" title="" class="txt-xs">Wealify Cards</a>
                    <a href="" title="" class="txt-xs">Account</a>
                    <a href="" title="" class="txt-xs">Privacy</a>
                </div>
            </div>
            <div class="questions">
                <div class="flex-lc justify-content-between mb-5">
                    <h2 class="title sm">Frequently Asked Questions</h2>
                    <div class="txt-xs font-semibold py-3">Find answers for the questions you have about Airwallex.</div>
                </div>
                <div class="question-list">
                    <a href="" title="" data-aos="fade-right">
                        <img src="./assets/img/start-up.svg" alt="">
                        <span class="txt-xs">Getting Started</span>
                    </a>
                    <a href="" title="" data-aos="fade-right" data-aos-delay="200">
                        <img src="./assets/img/user.svg" alt="">
                        <span class="txt-xs">Your Wealify Account</span>
                    </a>
                    <a href="" title=""  data-aos="fade-right" data-aos-delay="400">
                        <img src="./assets/img/transfer.svg" alt="">
                        <span class="txt-xs">Transfer</span>
                    </a>
                    <a href="" title=""  data-aos="fade-right" data-aos-delay="600">
                        <img src="./assets/img/question.svg" alt="">
                        <span class="txt-xs">About Us</span>
                    </a>
                    <a href="" title=""  data-aos="fade-right" data-aos-delay="800">
                        <img src="./assets/img/cards.svg" alt="">
                        <span class="txt-xs">Wealify Cards</span>
                    </a>
                    <a href="" title=""  data-aos="fade-right" data-aos-delay="1000">
                        <img src="./assets/img/more.svg" alt="">
                        <span class="txt-xs">See more...</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-topics">
        <div class="container">
            <h2 class="title white">Our Topics</h2>
            <div class="topic-tag flex">
                <a href="#getting-started" title="Getting started" class="active">Getting started</a>
                <a href="#about" title="About us">About us</a>
                <a href="#privacy" title="Account and privacy setting">Account and privacy setting</a>
                <a href="#management" title="Account management">Account management</a>
                <a href="#cards" title="Wealify cards">Wealify cards</a>
                <a href="" title="Safety & security">Safety & security</a>
                <a href="" title="Transfers">Transfers</a>
                <a href="" title="Others">Others</a>
            </div>
            <div class="topic-list">
                <div id="getting-started" class="category" data-aos="fade-up">
                    <h3 class="title sm white">Getting started</h3>
                    <div class="faq-list">
                        <div class="item">
                            <div class="item__header flex-lc">
                                <h4 class="txt-md font-bold">Creating an account</h4>
                                <i class="icon icon-more"></i>
                            </div>
                            <div class="item__content">
                                <div class="inside">
                                    <p>Verifying your Business in Canada</p>
                                    <p>Can I open an account with Airwallex?</p>
                                    <p>What features and products are available in my registered business location?</p>
                                    <p>Why should I use Airwallex?</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__header flex-lc">
                                <h4 class="txt-md font-bold">Setting up your profile</h4>
                                <i class="icon icon-more"></i>
                            </div>
                            <div class="item__content">
                                <div class="inside">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="" title="" class="txt-md font-bold">For you</a>
                        </div>
                        <div class="item">
                            <a href="" title="" class="txt-md font-bold">Creating your first card</a>
                        </div>
                    </div>
                </div>
                <div id="about" class="category" data-aos="fade-up">
                    <h3 class="title sm white">About Us</h3>
                    <div class="faq-list">
                        <div class="item">
                            <div class="item__header flex-lc">
                                <h4 class="txt-md font-bold">Information regarding Silicon Valley Bank</h4>
                                <i class="icon icon-more"></i>
                            </div>
                            <div class="item__content">
                                <div class="inside">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__header flex-lc">
                                <h4 class="txt-md font-bold">How does Airwallex keep my money safe</h4>
                                <i class="icon icon-more"></i>
                            </div>
                            <div class="item__content">
                                <div class="inside">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="" title="" class="txt-md font-bold">How do I receive my Rewards?</a>
                        </div>
                        <div class="item">
                            <a href="" title="" class="txt-md font-bold">Creating your first card</a>
                        </div>
                    </div>
                </div>
                <div id="privacy" class="category" data-aos="fade-up">
                    <h3 class="title sm white">Account and privacy setting</h3>
                    <div class="faq-list">
                        <div class="item">
                            <div class="item__header flex-lc">
                                <h4 class="txt-md font-bold">Information regarding Silicon Valley Bank</h4>
                                <i class="icon icon-more"></i>
                            </div>
                            <div class="item__content">
                                <div class="inside">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__header flex-lc">
                                <h4 class="txt-md font-bold">How does Airwallex keep my money safe</h4>
                                <i class="icon icon-more"></i>
                            </div>
                            <div class="item__content">
                                <div class="inside">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="" title="" class="txt-md font-bold">How do I receive my Rewards?</a>
                        </div>
                        <div class="item">
                            <a href="" title="" class="txt-md font-bold">Creating your first card</a>
                        </div>
                    </div>
                </div>
                <div id="management" class="category" data-aos="fade-up">
                    <h3 class="title sm white">Account Management</h3>
                    <div class="faq-list">
                        <div class="item">
                            <div class="item__header flex-lc">
                                <h4 class="txt-md font-bold">Information regarding Silicon Valley Bank</h4>
                                <i class="icon icon-more"></i>
                            </div>
                            <div class="item__content">
                                <div class="inside">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__header flex-lc">
                                <h4 class="txt-md font-bold">How does Airwallex keep my money safe</h4>
                                <i class="icon icon-more"></i>
                            </div>
                            <div class="item__content">
                                <div class="inside">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="" title="" class="txt-md font-bold">How do I receive my Rewards?</a>
                        </div>
                        <div class="item">
                            <a href="" title="" class="txt-md font-bold">Creating your first card</a>
                        </div>
                    </div>
                </div>
                <div id="cards" class="category" data-aos="fade-up">
                    <h3 class="title sm white">Wealify cards</h3>
                    <div class="faq-list">
                        <div class="item">
                            <div class="item__header flex-lc">
                                <h4 class="txt-md font-bold">Information regarding Silicon Valley Bank</h4>
                                <i class="icon icon-more"></i>
                            </div>
                            <div class="item__content">
                                <div class="inside">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__header flex-lc">
                                <h4 class="txt-md font-bold">How does Airwallex keep my money safe</h4>
                                <i class="icon icon-more"></i>
                            </div>
                            <div class="item__content">
                                <div class="inside">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="" title="" class="txt-md font-bold">How do I receive my Rewards?</a>
                        </div>
                        <div class="item">
                            <a href="" title="" class="txt-md font-bold">Creating your first card</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-register">
        <div class="content text-center">
            <h2 class="title mb-3" data-aos="fade-up">Can’t find your answer?</h2>
            <h5 class="txt-sm font-bold" data-aos="fade-up" data-aos-delay="200">Our customer support team is here to help.</h5>
            <div class="box-btn flex-center mt-sm" data-aos="fade-up" data-aos-delay="400">
                <a href="" title="" class="btn-pr white flex-center"><span>Contact Support</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
    </div>
</main>