<main>
    <div class="wealify-intro pr">
        <div class="container">
            <div class="content pt-3">
                <div class="text">
                    <h1 data-aos="fade-up">Make your spending Smarter & Faster.</h1>
                    <p class="txt-sm" data-aos="fade-up" data-aos-delay="200">Global corporate cards, expense management, reimbursements, travel, and bill pay — all in one.</p>
                </div>
                <div class="box-btn flex" data-aos="fade-up" data-aos-delay="400">
                    <a href="" title="" class="btn-pr flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
                    <a href="" title="" class="btn-sub">Contact Sale</a>
                </div>
            </div>
            <div class="img-wrapper">
                <img src="./assets/img/img-f1.png" alt="">
            </div>
        </div>
    </div>
    <div class="wealify-discover pr">
        <div class="container">
            <div class="header flex-lc">
                <h2 class="title" data-aos="fade-up">Built for global businesses of every <span>shape, size, & color</span></h2>
                <div class="text txt-sm">Discover how Wealify can help streamline your business finance operations</div>
            </div>
            <div class="discover-slider" data-aos="fade-in">
                <div class="item flex">
                    <div class="item__img">
                        <video autoplay muted loop playsinline>
                            <source src="./assets/img/cards.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="item__content">
                        <div class="txt-sm mb-2 font-weight-bold">01</div>
                        <h3 class="txt-lg">Virtual Company Card</h3>
                        <p class="txt-xs">Wealify offers virtual card (VCC) products for convenient and flexible global payments, allowing real-time monitoring and tracking of expenses to avoid overspending. Suitable for individuals and corporations.</p>
                        <ul class="check-list">
                            <li>Many cards As in need</li>
                            <li>Easy Top-Up with VND/USD/... Currency</li>
                            <li>Get up to 0.4% unlimited cashback on spend</li>
                        </ul>
                        <div class="box-btn flex-lc">
                            <a href="" title="Learn More" class="btn-pr white flex-center"><span>Learn More</span><i class="icon arrow-right"></i></a>
                            <a href="" title="View Demo" class="btn-sub">View Demo</a>
                        </div>
                    </div>
                </div>
                <div class="item flex">
                    <div class="item__img">
                        <video autoplay muted loop playsinline>
                            <source src="./assets/img/payment.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="item__content">
                        <div class="txt-sm mb-2 font-weight-bold">02</div>
                        <h3 class="txt-lg">Payment to Supplier</h3>
                        <p class="txt-xs">Payment to partners in 150+ countries around the world. Get rid of all the hassle of doing international transactions!</p>
                        <ul class="check-list">
                            <li>Many cards As in need</li>
                            <li>Easy Top-Up with VND/USD/... Currency</li>
                            <li>Get up to 0.4% unlimited cashback on spend</li>
                        </ul>
                        <div class="box-btn flex-lc">
                            <a href="" title="Learn More" class="btn-pr white flex-center"><span>Learn More</span><i class="icon arrow-right"></i></a>
                            <a href="" title="View Demo" class="btn-sub">View Demo</a>
                        </div>
                    </div>
                </div>
                <div class="item flex">
                    <div class="item__img">
                        <video autoplay muted loop playsinline>
                            <source src="./assets/img/key.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="item__content">
                        <div class="txt-sm mb-2 font-weight-bold">03</div>
                        <h3 class="txt-lg">Company formation</h3>
                        <p class="txt-xs">Wealify offers virtual card (VCC) products for convenient and flexible global payments, allowing real-time monitoring and tracking of expenses to avoid overspending. Suitable for individuals and corporations.</p>
                        <ul class="check-list">
                            <li>Many cards As in need</li>
                            <li>Easy Top-Up with VND/USD/... Currency</li>
                            <li>Get up to 0.4% unlimited cashback on spend</li>
                        </ul>
                        <div class="box-btn flex-lc">
                            <a href="" title="Learn More" class="btn-pr white flex-center"><span>Learn More</span><i class="icon arrow-right"></i></a>
                            <a href="" title="View Demo" class="btn-sub">View Demo</a>
                        </div>
                    </div>
                </div>
                <div class="item flex">
                    <div class="item__img">
                        <video autoplay muted loop playsinline>
                            <source src="./assets/img/globe.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="item__content">
                        <div class="txt-sm mb-2 font-weight-bold">04</div>
                        <h3 class="txt-lg">Wealify OTC Desk</h3>
                        <p class="txt-xs">Wealify offers virtual card (VCC) products for convenient and flexible global payments, allowing real-time monitoring and tracking of expenses to avoid overspending. Suitable for individuals and corporations.</p>
                        <ul class="check-list">
                            <li>Many cards As in need</li>
                            <li>Easy Top-Up with VND/USD/... Currency</li>
                            <li>Get up to 0.4% unlimited cashback on spend</li>
                        </ul>
                        <div class="box-btn flex-lc">
                            <a href="" title="Learn More" class="btn-pr white flex-center"><span>Learn More</span><i class="icon arrow-right"></i></a>
                            <a href="" title="View Demo" class="btn-sub">View Demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-platform pr">
        <div class="container">
            <div class="tag">Platform</div>
            <div class="header flex">
                <h2 class="title" data-aos="fade-up">Build today, win tomorrow</h2>
                <div class="text-des txt-sm">Our global financial infrastructure is purpose-built to power the future of customer experiences.</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="item-list">
                        <div class="item flex" data-aos="fade-up">
                            <div class="icon"><img src="./assets/img/check.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md font-bold">Discover new revenue opportunities</h4>
                                <p class="txt-xs">Embed solutions that enable you to monetise new channels and reinvest earnings into your core platform.</p>
                            </div>
                        </div>
                        <div class="item flex" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><img src="./assets/img/manage.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md font-bold">Manage an entire transaction lifecycle</h4>
                                <p class="txt-xs">Get paid, manage funds, and pay out more efficiently across 130 countries with our powerful APIs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-btn flex" data-aos="fade-up">
                        <a href="" title="" class="btn-pr"><span>Open an account</span><i class="icon arrow-right"></i></a>
                        <a href="" title="" class="btn-sub">See Features</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/img-f3.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-feedback pr">
        <div class="container">
            <div class="feedback">
                <h4 class="txt-sm font-bold">What they say about us</h4>
                <div class="feedback-list">
                    <div class="item">
                        <div class="text">“We needed a better card and spend management solution to serve everyone faster and deliver a better experience for end users.”</div>
                        <div class="author">
                            <div class="txt-md font-bold mb-1">Andrew Maher</div>
                            <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">“We needed a better card and spend management solution to serve everyone faster and deliver a better experience for end users.”</div>
                        <div class="author">
                            <div class="txt-md font-bold mb-1">Andrew Maher</div>
                            <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-partners pr">
        <div class="container">
            <h2 class="txt-md font-bold text-center">Our partners</h2>
            <div class="partner-list" data-aos="fade-up">
                <div class="item">
                    <a href="" title=""><img src="./assets/img/bidv.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/msb.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/mb.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/fado.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-daboard pr">
        <div class="container">
            <div class="header" data-aos="fade-up">
                <h2 class="title">Start building your online business today</h2>
                <div class="box-btn flex-center">
                    <a href="" title="" class="btn-pr flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
                    <a href="" title="" class="btn-sub flex-center">View Demo</a>
                </div>
            </div>
            <div class="img-daboard" data-aos="fade-in" data-aos-delay="200"><img src="./assets/img/img-f4.png" alt=""></div>
        </div>
    </div>
</main>