<main>
    <div class="wealify-payment">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1 class="title mb-sm">The world’s trusted currency authority</h1>
                    <div class="text-des txt-sm">International business in the free lands has never been easier with the support of Wealify.</div>
                    <div class="time flex-lc txt-xs mb-4">May 19, 2023, 15:34 GMT</div>
                    <div class="box-table border txt-xs">
                        <table class="table-price">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Mua vào</th>
                                <th>Bán ra</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>USD chuyển khoản</td>
                                <td>
                                    <div class="flex-center">
                                        <p>...</p>
                                        <i class="icon icon-down"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="flex-center">
                                        <p>23,400.00 <span>VND</span></p>
                                        <i class="icon icon-up"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>USD tự do</td>
                                <td>
                                    <div class="flex-center">
                                        <p>23,400.00 <span>VND</span></p>
                                        <i class="icon icon-down"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="flex-center">
                                        <p>23,640.00 VND <span>vnd</span></p>
                                        <i class="icon icon-up"></i>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="box-tab">
                        <ul class="tab nav txt-xs mb-sm">
                            <li><a href="#converter" data-toggle="tab" class="active">Wealify currency converter</a></li>
                            <li><a href="#payment" data-toggle="tab">Supplier Payment</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="converter" class="tab-pane fade show active">
                                <div class="item flex">
                                    <div>
                                        <h5 class="txt-xs">From</h5>
                                        <div class="bal font-bold">0.00</div>
                                    </div>
                                    <div class="box-select">
                                        <div class="currency txt-xs">US Dollar</div>
                                        <div class="selected flex-lc">
                                            <div class="icon"><img src="./assets/img/usa.svg" width="24" alt=""></div>
                                            <div class="name txt-xs">USD</div>
                                            <i class="icon icon-arr"></i>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn-transfer"></button>
                                <div class="item flex">
                                    <div>
                                        <h5 class="txt-xs">To</h5>
                                        <div class="bal font-bold">0.00</div>
                                    </div>
                                    <div class="box-select">
                                        <div class="currency txt-xs">Viet Nam Dong</div>
                                        <div class="selected flex-lc">
                                            <div class="icon"><img src="./assets/img/vnd.svg" width="24" alt=""></div>
                                            <div class="name txt-xs">VND</div>
                                            <i class="icon icon-arr"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-btn flex mt-sm">
                                    <button type="button" class="btn-arlet flex-center txt-xs">Arlet Currency</button>
                                    <button type="button" class="btn-submit flex-center txt-xs">Convert</button>
                                </div>
                            </div>
                            <div id="payment" class="tab-pane fade">
                                <div class="item flex">
                                    <div>
                                        <h5 class="txt-xs">Supplier get</h5>
                                        <div class="bal font-bold">0.00</div>
                                    </div>
                                    <div class="box-select">
                                        <div class="currency txt-xs">Viet Nam Dong</div>
                                        <div class="selected flex-lc">
                                            <div class="icon"><img src="./assets/img/vnd.svg" width="24" alt=""></div>
                                            <div class="name txt-xs">VND</div>
                                            <i class="icon icon-arr"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="exchange txt-xs">1 USDT ≈ 23,400 VND</div>
                                <div class="item flex">
                                    <div>
                                        <h5 class="txt-xs">Total needed</h5>
                                        <div class="bal font-bold">0.00</div>
                                    </div>
                                </div>
                                <button type="button" class="btn-submit mt-sm flex-center txt-xs w-100">View Saving</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-chart">
        <div class="container">
            <div class="header flex">
                <div class="col-h">
                    <div class="flex-lc mb-3">
                        <div class="name">GBP to EUR Chart</div>
                        <span class="satus down txt-sm font-bold">-1,55%</span>
                    </div>
                    <div class="txt-sm">British pound to Euro Powered by trading view </div>
                </div>
                <div class="col-h">
                    <div class="flex-lc pt-3">
                        <div class="exchange flex-lc txt-sm">1 GBP = 1,149558 EUR </div>
                        <time class="txt-xs">May 19, 2023, 15:34 GMT</time>
                    </div>
                </div>
            </div>
            <div class="chart">
                <img src="./assets/img/chart.png" alt="">
            </div>
        </div>
    </div>
    <div class="wealify-table py-lg">
        <div class="container">
            <h2 class="title xs">Popular British Pound Pairings</h2>
            <div class="box-table mb-lg">
                <table class="txt-xs">
                    <thead>
                    <tr>
                        <th>Coin</th>
                        <th>
                            <div class="flex-lc">
                                Rank
                                <i class="icon arrow-up"></i>
                            </div>
                        </th>
                        <th>Price</th>
                        <th>Change % 24h</th>
                        <th>Market cap</th>
                        <th>Volume in USD 24h</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="coin flex-lc">
                                <div class="coin__img"><img src="./assets/img/btc.svg" alt=""></div>
                                <div class="coin__info">
                                    <p>BTC</p>
                                    <span>Bitcoin</span>
                                </div>
                            </div>
                        </td>
                        <td>1</td>
                        <td><div class="txt flex-lc">27873.69 <span>USD</span></div></td>
                        <td><div class="down">-0.30%</div></td>
                        <td><div class="txt flex-lc">539.061 <span>USD</span></div></td>
                        <td><div class="txt flex-lc">12.95 <span>USD</span></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin flex-lc">
                                <div class="coin__img"><img src="./assets/img/eth.svg" alt=""></div>
                                <div class="coin__info">
                                    <p>ETH</p>
                                    <span>Ethereum</span>
                                </div>
                            </div>
                        </td>
                        <td>2</td>
                        <td><div class="txt flex-lc">1854.16 <span>USD</span></div></td>
                        <td><div class="down">-1.49%</div></td>
                        <td><div class="txt flex-lc">223.348 <span>USD</span></div></td>
                        <td><div class="txt flex-lc">9.559 <span>USD</span></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin flex-lc">
                                <div class="coin__img"><img src="./assets/img/usdt.svg" alt=""></div>
                                <div class="coin__info">
                                    <p>USDT</p>
                                    <span>TetherUS</span>
                                </div>
                            </div>
                        </td>
                        <td>3</td>
                        <td><div class="txt flex-lc">1.000520 <span>USD</span></div></td>
                        <td><div class="up">0.79%</div></td>
                        <td><div class="txt flex-lc">80.237 <span>USD</span></div></td>
                        <td><div class="txt flex-lc">22.789 <span>USD</span></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin flex-lc">
                                <div class="coin__img"><img src="./assets/img/bnb.svg" alt=""></div>
                                <div class="coin__info">
                                    <p>BNB</p>
                                    <span>BNB</span>
                                </div>
                            </div>
                        </td>
                        <td>4</td>
                        <td><div class="txt flex-lc">310.28181403 <span>USD</span></div></td>
                        <td><div class="down">-0.79%</div></td>
                        <td><div class="txt flex-lc">48.99 <span>USD</span></div></td>
                        <td><div class="txt flex-lc">503.326 <span>USD</span></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin flex-lc">
                                <div class="coin__img"><img src="./assets/img/usdc.svg" alt=""></div>
                                <div class="coin__info">
                                    <p>USDC</p>
                                    <span>USD Coin</span>
                                </div>
                            </div>
                        </td>
                        <td>5</td>
                        <td><div class="txt flex-lc">1.000015 <span>USD</span></div></td>
                        <td><div class="down">-0.01%</div></td>
                        <td><div class="txt flex-lc">32.763 <span>USD</span></div></td>
                        <td><div class="txt flex-lc">3.645 <span>USD</span></div></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="coin flex-lc">
                                <div class="coin__img"><img src="./assets/img/xrp.svg" alt=""></div>
                                <div class="coin__info">
                                    <p>XRP</p>
                                    <span>Ripple</span>
                                </div>
                            </div>
                        </td>
                        <td>6</td>
                        <td><div class="txt flex-lc">0.51060 <span>USD</span></div></td>
                        <td><div class="up">0.30%</div></td>
                        <td><div class="txt flex-lc">26.392 <span>USD</span></div></td>
                        <td><div class="txt flex-lc">1.082 <span>USD</span></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2 class="title xs">Live Currency Rates</h2>
                    <div class="box-table mb-4">
                        <table class="txt-xs">
                            <thead>
                            <tr>
                                <th>Currency</th>
                                <th>Rate</th>
                                <th>Change</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><div class="currency">EUR <span>/</span> USD</div></td>
                                <td>1.09055</td>
                                <td><i class="icon icon-down"></i></td>
                            </tr>
                            <tr>
                                <td><div class="currency">GBP <span>/</span> EUR</div></td>
                                <td>1.14684</td>
                                <td><i class="icon icon-up"></i></td>
                            </tr>
                            <tr>
                                <td><div class="currency">USD <span>/</span> CHF</div></td>
                                <td>134.452</td>
                                <td><i class="icon icon-down"></i></td>
                            </tr>
                            <tr>
                                <td><div class="currency">EUR<span>/</span> JPY</div></td>
                                <td>1.25118</td>
                                <td><i class="icon icon-up"></i></td>
                            </tr>
                            <tr>
                                <td><div class="currency">USD <span>/</span> JPY</div></td>
                                <td>0.895577</td>
                                <td><i class="icon icon-down"></i></td>
                            </tr>
                            <tr>
                                <td><div class="currency">AUD <span>/</span> USD</div></td>
                                <td>1.34866</td>
                                <td><i class="icon icon-down"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="title xs">Central Bank Rates</h2>
                    <div class="box-table mb-4">
                        <table class="txt-xs">
                            <thead>
                            <tr>
                                <th>Currency</th>
                                <th>Interest Rate</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="currency flex-lc">
                                        <div class="icon"><img src="./assets/img/usa.svg" alt=""></div>
                                        <div class="name">USD</div>
                                    </div>
                                </td>
                                <td>-0.10%</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="currency flex-lc">
                                        <div class="icon"><img src="./assets/img/eur.svg" alt=""></div>
                                        <div class="name">EUR</div>
                                    </div>
                                </td>
                                <td>-0.25%</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="currency flex-lc">
                                        <div class="icon"><img src="./assets/img/cad.svg" alt=""></div>
                                        <div class="name">CAD</div>
                                    </div>
                                </td>
                                <td>3.25%</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="currency flex-lc">
                                        <div class="icon"><img src="./assets/img/aud.svg" alt=""></div>
                                        <div class="name">AUD</div>
                                    </div>
                                </td>
                                <td>1.250%</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="currency flex-lc">
                                        <div class="icon"><img src="./assets/img/chf.svg" alt=""></div>
                                        <div class="name">CHF</div>
                                    </div>
                                </td>
                                <td>2.11%</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="currency flex-lc">
                                        <div class="icon"><img src="./assets/img/gbp.svg" alt=""></div>
                                        <div class="name">GBP</div>
                                    </div>
                                </td>
                                <td>5.06%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>