<main>
    <div class="wealify-text bg-dc-virtual">
        <div class="container">
            <div class="content">
                <h1 class="title mb-sm" data-aos="fade-up">What can we do?</h1>
                <div class="text-des mb-sm txt-sm" data-aos="fade-up" data-aos-delay="200">Wealify provides various virtual card (VCC) products to enable  multi-scene global payment, supporting corporates and individuals to make instant payment globally with flexibility,</div>
                <div class="box-btn flex-lc" data-aos="fade-up" data-aos-delay="400">
                    <a href="" title="" class="btn-pr flex-center"><span>See how it works</span><i class="icon arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-wcc pr">
        <div class="container">
            <div class="content">
                <div class="img-wrapper"><img src="./assets/img/visa.png" alt=""></div>
                <h2 class="title text-center" data-aos="fade-up">What is VCC ?</h2>
                <div class="text txt-sm text-center" data-aos="fade-up" data-aos-delay="200">The Virtual Company Card (VCC) is a virtual prepaid card designed to offer corporate users a seamless, multi-scene global payment solution. By successfully registering with Wealify, companies and individuals can enjoy the benefits of no issuance fees, zero transaction fees, and the ability to manage a variety of payments with ease. Furthermore, users are permitted to issue an unlimited number of virtual prepaid cards that can be utilized for a wide range of payments, such as airlines, hotels, travel agencies, e-commerce, and SAAS.</div>
            </div>
        </div>
    </div>
    <div class="wealify-work py-lg">
        <div class="container">
            <h2 class="title text-center">How it works</h2>
            <ul class="step-list flex pr">
                <li class="text-center" data-aos="fade-right">
                    <div class="icon"><img src="./assets/img/icon-step1.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Step 01</h4>
                    <p class="txt-xs font-semibold">Register for Corp Account  and ask for number of virtual prepaid</p>
                </li>
                <li class="text-center" data-aos="fade-right" data-aos-delay="300">
                    <div class="icon"><img src="./assets/img/icon-step2.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Step 02</h4>
                    <p class="txt-xs font-semibold">You will be issued virtual account instantly</p>
                </li>
                <li class="text-center" data-aos="fade-right" data-aos-delay="600">
                    <div class="icon"><img src="./assets/img/icon-step3.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Step 03</h4>
                    <p class="txt-xs font-semibold">Top-up virtual cards before spending and bind with each of different merchant/ scenario</p>
                </li>
                <li class="text-center" data-aos="fade-right" data-aos-delay="900">
                    <div class="icon"><img src="./assets/img/icon-step4.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Step 04</h4>
                    <p class="txt-xs font-semibold">All spending records automatically generated and you can check on real time</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="wealify-value pr">
        <div class="container">
            <div class="header flex">
                <h2 class="title" data-aos="fade-up">Why use Wealify's VCC</h2>
                <div class="text-des txt-sm font-semibold">Values VCC brings to your business,More than facilitating your payment</div>
            </div>
            <div class="value-list">
                <div class="item">
                    <div class="icon"><img src="./assets/img/bank.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Convenience for Enabling</h4>
                    <div class="txt-xs font-semibold">KYB with wealify system once only to complete registration to enable VCC activated</div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/medal.svg" alt=""></div>
                    <h4 class="txt-md font-bold">High Rebate Rate</h4>
                    <div class="txt-xs font-semibold">No hidden fee but high rebate rate due to super volume transactions global</div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/cardholder.svg" alt=""></div>
                    <h4 class="txt-md font-bold">As Many cards As in need</h4>
                    <div class="txt-xs font-semibold">Once company account is activated,customer could apply to un-limited number of VCCs</div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/percent.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Beneficial Exchange rate</h4>
                    <div class="txt-xs font-semibold">Thanks to our robust partnerships with financial institutions, we can offer significantly more favorable exchange rates compared to traditional public exchange services</div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/math.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Ultra Speed Payment Process</h4>
                    <div class="txt-xs font-semibold">No more documents No more time-burning for payment process, almost real-time processing</div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/coins.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Any Currency to Any Currency</h4>
                    <div class="txt-xs font-semibold">20+ Mainstream currency supported for your payment</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-faq pr">
        <div class="container">
            <div class="content flex">
                <h2 class="title" data-aos="fade-right">Wealify <br> for Startup</h2>
                <div class="faq-list aos-init" data-aos="fade-up" data-aos-delay="200">
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">What is my VCC card and how does it work?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside">
                                <p>The Virtual Company Card (VCC) is a virtual prepaid card designed to offer corporate users a seamless, multi-scene global payment solution. By successfully registering with Wealify, companies and individuals can enjoy the benefits of no issuance fees, zero transaction fees, and the ability to manage a variety of payments with ease. Furthermore, users are permitted to issue an unlimited number of virtual prepaid cards that can be utilized</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">Is my card a virtual card or a hard card?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">How can I top up the card for use?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h4 class="txt-md font-bold">Can I receive outside money on this card?</h4>
                            <i class="icon icon-more"></i>
                        </div>
                        <div class="item__content">
                            <div class="inside"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-register">
        <div class="content text-center">
            <h5 class="txt-sm font-bold" data-aos="fade-up">Ready to Get Started</h5>
            <h2 class="title" data-aos="fade-up" data-aos-delay="200">Let’s dream big together</h2>
            <div class="box-btn flex-center" data-aos="fade-up" data-aos-delay="400">
                <a href="" title="" class="btn-pr white flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
    </div>
</main>