:root{
  --orange: #FF6E40;
  --black: #111111;
}
body{
  background: #fff;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  color: #111111;
  line-height: 21px;
  overflow-x: hidden;
  &.pr{background: #082034;}
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}


@mixin after-btn{
  content: "";
  width: calc(100% + 2px); height: 100%;
  border-radius: 4px;
  background: linear-gradient(#d2d2d2, rgba(#d2d2d2,0));
  position: absolute; top: -1px; left: -1px; z-index: -1;
}
@mixin line{
  content: "";
  width: 1072px; height: 24px;
  background: url("#{$img-path}/line1.png") no-repeat 50% 0/contain;
  position: absolute; left: 0;
}

@mixin hover{filter: saturate(2.1); -webkit-filter: saturate(2.1);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%;
  position: fixed; z-index: 9;
  &.scroll{
    box-shadow: 0 2px 4px rgba(#000,.18); background: #fff;
    .navbar{padding: 12px 0;}
  }
  .container-fluid{padding: 0 50px;}
  .navbar-toggle{display: none;}
  .login{
    margin-left: auto;
    a,button{padding: 0 16px; color: var(--black);}
    .arrow-right{transition: .4s;}
    .btn-register{
      width: 193px; height: 44px; border-radius: 5px; border: 1px solid #111;
      &:hover{
        .arrow-right{transform: translateX(5px);}
      }
    }
    .btn-login{
      margin-right: 16px;
      &:hover{border-bottom: 1px solid var(--black);}
    }
  }
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 20px 0;
  border-radius: 0; border: none;
  transition: .3s;
  .logo{width: 146px;}
}

.navbar-collapse{
  padding: 0;
  justify-content: flex-start;
  .close{display: none;}
}
.navbar-nav{
  margin: 0 0 0 auto; padding-left: 133px; align-items: center;
  >*+*{margin-left: 40px;}
  > li{display: flex; flex-wrap: wrap; align-items: center; position: relative;}
  > li > a{display: block; font-size: 15px; font-weight: 700; color: var(--black); line-height: 24px; position: relative; text-transform: capitalize;}
  > li:hover{border-bottom: 1px solid var(--black);}
  .active{color: var(--orange);}
  .show-menu{
    width: 12px; height: 12px; display: block;
    margin: 0 0 0 4px;
    background: url("#{$img-path}/arrow-down.svg") no-repeat;
    cursor: pointer;
  }
  > li:hover .sub-menu{opacity: 1; visibility: visible; transform: translateY(0); z-index: 2;}
  > li:last-child{position: inherit;}
  .sub-menu{
    width: 410px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    position: absolute; left: 0; top: 40px;
    opacity: 0; visibility: hidden; transform: translateY(10px); z-index: -1; transition: .3s;
    &.lg{
      width: 100%; max-width: 1174px;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 12px;
      left: 0; right: 0; top: 75px; margin: 0 auto;
      li{margin-top: 12px;}
      >*+*{margin-top: 0px;}
    }
    >*+*{margin-top: 12px;}
    .header{
      h4{text-transform: uppercase;}
      p{color: #888888; font-size: 13px; line-height: 20px;}
    }
    .icon{width: 40px; height: 40px; border-radius: 15px; background: #F5F5F5; display: flex; align-items: center; justify-content: center;}
    .info{width: calc(100% - 40px); padding-left: 16px;}
    p{font-weight: 700; color: var(--black); font-size: 15px; line-height: 24px;}
    span{display: block; font-weight: 600; font-size: 13px; line-height: 20px; color: #888;}
    a{padding: 12px; border-radius: 10px;}
    a:hover{background: #FEEBEA;}
    a:hover .icon{background: #fff;}
  }
}
.login--mobile{display: none;}
//main
main{min-height: 78vh; padding-top: 84px;}
.wealify-intro{
  padding: 100px 0 189px;
  &::after{
    content: "";
    width: 1249px; height: 625px;
    background: url("#{$img-path}/bg-h-f1.svg") no-repeat 0 0/contain;
    position: absolute; right: 0; top: -84px; z-index: -1;
  }
  h1{max-width: 605px; margin-bottom: 32px; font-weight: 600; font-size: 62px; line-height: 76px; color: var(--black);}
  p{max-width: 336px;}
  .box-btn{
    margin-top: 42px; align-items: center;
    >*+*{margin-left: 20px;}
  }
  .img-wrapper{
    width: 704px; position: absolute; right: 0; top: 100px;
  }
}
.wealify-discover{
  padding: 110px 0 100px; background: var(--black);
  &::after{
    content: "";
    width: 100%; height: 400px;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, #111 100%);
    position: absolute; bottom: 0;
  }
  .header{
    margin-bottom: 60px;
    .text{max-width: 340px; padding-bottom: 40px; margin-left: 188px; color: #fff;}
  }
  .title{max-width: 602px; color: #fff;}
  .slick-list{padding-bottom: 160px;}
  .slick-track{display: flex; flex-direction: column;}
  .slick-slide{height: inherit;}
  .slick-current{
    z-index: 2;
    .item__img{opacity: 1; transform: translateY(0);}
  }
  .item{
    display: flex !important;
    border: none;
    align-items: flex-start;
    color: #fff;
    &__img{
      width: 602px; opacity: 0; transform: translateY(20px); transition: .5s;
      img{display: block; margin: 0 auto;}
      @media (max-width: 1440px) {
        padding-top: 0;
      }
    }
    &__content{
      max-width: 450px; margin-left: 188px; padding-bottom: 160px;
      @media (max-width: 1440px) {
        padding-bottom: 20px;
      }
    }
    h3{margin-bottom: 20px;}
    p{font-weight: 600;}
  }
  video{width: 100%; height: 100%; margin-top: -50px; object-fit: cover;}
  .btn-sub{margin-left: 20px; color: #fff; border-color: #fff;}
}
.wealify-platform{
  padding: 119px 0 50px;
  &::after{
    content: "";
    width: 1075px; height: 1174px;
    background: url("#{$img-path}/bg-h-f3.svg") no-repeat 0 0/contain;
    position: absolute; right: 0; top: 0; z-index: -1;
  }
  .header{margin-bottom: 62px; justify-content: space-between; align-items: flex-end;}
  .title{max-width: 455px;}
  .item{
    max-width: 500px; padding: 40px 0; border-bottom: 1px solid #EDEDED;
    &:last-child{border-bottom: none;}
    h4{margin-bottom: 12px;}
    .content{flex: 1; padding-left: 16px;}
  }
  .box-btn{
    align-items: center;
    >*+*{margin-left: 20px;}
    margin-top: 20px;
  }
  .text-des{max-width: 320px; padding-bottom: 35px; margin-right: 135px;}
  .img-wrapper{
    margin: 0 -50px 0 -20px;
    img{display: block; margin: 0 auto;}
  }
}
.wealify-feedback{
  &::after{
    content: "";
    width: 100%; height: 685px;
    background: url("#{$img-path}/bg-h-f5.svg") no-repeat 0 0/contain;
    position: absolute; left: 0; top: 250px; z-index: -1;
  }
  .feedback{
    padding: 96px 77px;
    background: url("#{$img-path}/bg-h-f4.svg") no-repeat 0 0/cover;
    border-radius: 20px;
    &.bg-pink{background: #FEEBEA; padding: 0;}
    &.p-sm{padding: 38px 0 38px 72px;}
    &__content{
      width: 49%; margin-right: -2%;
      .text{min-height: 220px;}
    }
    &__img{width: 53%;}
    .img-wrapper,.content{width: 50%;}
    .img-wrapper img{width: 100%; object-fit: cover; border-radius: 20px 0 0 20px;}
    .content{
      display: flex; flex-direction: column; justify-content: center;
      padding: 60px;
      .text{min-height: 270px;}
    }

  }
  h4{margin-bottom: 40px}
  .text{
    max-width: 951px;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 38px; line-height: 54px;
    &.sm{font-size: 30px; line-height: 44px;}
  }
  .box-btn{margin-top: 60px;}
  .slick-arrow{
    width: 42px; height: 42px;
    background: url("#{$img-path}/next.svg") no-repeat 0 0/contain;
    font-size: 0;
    position: absolute; bottom: 0; z-index: 2;
    &:hover{filter: invert(1);}
  }
  .slick-next{right: 0;}
  .slick-prev{right: 52px; transform: rotate(180deg);}
}
.wealify-partners{
  padding: 80px 0 137px;
  .partner-list{
    display: flex; justify-content: center;
    margin-top: 30px;
    grid-template-columns: repeat(4,1fr);
    .item{width: 190px; margin: 10px 50px;}
  }
}
.wealify-daboard{
  background: url("#{$img-path}/bg-h-f6.svg") no-repeat bottom center/cover;
  .box-btn{
    >*+*{margin-left: 20px;}
  }
  .header{
    max-width: 702px;
    margin: 0 auto 10px;
    text-align: center;
    .title{margin-bottom: 40px;}
  }
  .img-daboard{
    img{display: block; margin: 0 auto;}
  }
}

.wealify-text{
  &.bg-dc-virtual{padding: 140px 0 222px;}
  &.bg-dc-desk{padding: 46px 0 105px;}
  &.bg-dc-company{padding: 83px 0 30px;}
  .content{
    max-width: 560px; position: relative;
    &.sm{max-width: 320px;}
    &.md{max-width: 495px; margin-left: auto;}
  }
  .header{
    max-width: 690px; padding: 0 15px; margin-bottom: 40px;
    .text-des{max-width: 446px; margin: 0 auto 30px;}
  }
  .check-list{
    margin: 45px 0 60px;
    li{font-size: 18px; line-height: 28px; background-position: 0 2px;}
  }
  .text-des{padding-bottom: 10px;}
  .img-wrapper img{margin: 0 auto;}
}
.wealify-wcc{
  .content{
    background: url('#{$img-path}/bg-dc-1.svg') no-repeat 0 0/cover;
    border-radius: 20px;
    padding: 204px 0 127px;
  }
  .title{margin-bottom: 40px;}
  .img-wrapper{
    position: absolute; width: 100%; max-width: 730px;
    left: 50%; transform: translateX(-50%); top: -188px;
  }
  .text{max-width: 816px; margin: 0 auto;}
}

.wealify-work{
  .step-list{
    margin-top: 80px; justify-content: space-between;
    &::after{
      content: "";
      width: 80%; border-top: 1px dashed #B1B1B1;
      position: absolute; top: 30px; left: 10%; z-index: -1;
    }
    li{width: 18%;}
    .icon{width: 60px; margin: 0 auto 24px;}
    h4{margin-bottom: 12px;}
    p{max-width: 230px; margin: 0 auto;}
  }
  .procedure{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 80px;
    margin: 70px 0 40px;
    .text{min-height: 75px;}
    .item{text-align: center;}
    .icon{width: 70px; height: 70px; display: flex; align-items: flex-end; margin: 0 auto 18px;}
  }
}
.wealify-value{
  background: var(--black);
  padding: 112px 0 129px;
  &::after{
    content: "";
    width: 1423px; height: 787px;
    background: url("#{$img-path}/bg-d-value.svg") no-repeat 0 0/contain;
    position: absolute; left: 0; top: 0;
  }
  .container{position: relative; z-index: 2;}
  .header{margin-bottom: 125px; justify-content: space-between;}
  .title{max-width: 510px; color: #fff;}
  .text-des{max-width: 300px; margin-right: 125px; padding-top: 50px; color: #fff;}
  .value-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 125px;
    grid-row-gap: 75px;
    color: #fff;
    .icon{margin-bottom: 24px;}
    h4{margin-bottom: 12px;}
  }
}

.wealify-faq{
  padding: 144px 0 120px;
  &::after{
    content: "";
    width: 830px; height: 1130px;
    background: url("#{$img-path}/bg-d-faq.svg") no-repeat bottom left;
    position: absolute; left: 0; bottom: -380px; z-index: -1;
  }
  &.bg-black{
    background: var(--black); overflow: hidden;
    &::after{
      content: "";
      width: 833px; height: 680px;
      background: url("#{$img-path}/bg-d-faq-1.svg") no-repeat 0 0/contain;
      position: absolute; left: 0; top: 0; z-index: 2;
    }
    .title{color: #fff;}
    .item{
      background: none; color: #fff;
      &__header{border-bottom: 1px solid rgba(#fff,.16);}
      .icon-more{background: url("#{$img-path}/add-1.svg") no-repeat 0 0/contain;}
      &.active .icon-more{background: url("#{$img-path}/minus-1.svg") no-repeat 0 0/contain;}
    }
  }
  .container{position: relative; z-index: 3;}
  .content{
    justify-content: space-between;
    align-items: flex-start;
  }
  .title{max-width: 324px;}
  .faq-list{max-width: 712px; width: 100%; margin-top: -20px;}
  .item{
    padding: 6px 0;
    &.active{
      .icon-more{background: url("#{$img-path}/minus.svg") no-repeat center center;}
    }
    &__header{padding: 16px 0; cursor: pointer; border-bottom: 1px solid rgba(17, 17, 17, 0.06);}
    &__content{
      font-weight: 600;
      font-size: 15px; line-height: 24px;
      .inside{padding: 21px 0;}
    }
    h4{padding-right: 10px; flex: 1;}
    .icon-more{
      width: 20px; height: 20px;
      background: url("#{$img-path}/add.svg") no-repeat;
      margin-left: auto;
    }
  }
}
.wealify-register{
  padding: 128px 0 119px;
  background: linear-gradient(243deg, #FB4034 0%, #FF814A 80%);
  color: #fff;
  h5{margin-bottom: 12px;}
  .title{margin-bottom: 30px; color: #fff;}
  .form-register{
    input{
      height: 52px;
      width: 100%;
      max-width: 440px;
      padding: 0 24px;
      font-weight: 600;
      border-radius: 5px 0 0 5px;
      background: #fff;
      border: none;
      color: #888888;
      &:focus{outline: none;}
    }
    .btn-submit{
      background: var(--black);
      padding: 14px 30px;
      border-radius: 0 5px 5px 0;
      color: #fff;
    }
  }
}
.wealify-procedure{
  padding: 110px 0 132px; background: var(--black);
  .title{color: #fff;}
  ul{
    margin-top: 80px; justify-content: space-between; color: #fff;
    li{width: 25%; padding: 0 10px; text-align: center; position: relative; z-index: 2;}
    &::after{
      content: "";
      width: 80%; border-top: 1px dashed #686868;
      position: absolute; top: 30px; left: 10%;
    }
    .icon{width: 60px; margin: 0 auto 24px;}
    h4{margin-bottom: 12px;}
    p{max-width: 250px; margin: 0 auto;}
  }
}
.wealify-about-desk{
  padding: 120px 0 130px;
  &::after{
    content: "";
    width: 805px; height: 1174px;
    background: url("#{$img-path}/bg-d-about.svg") no-repeat 0 0/contain;
    position: absolute; right: 0; top: -140px; z-index: -1;
  }
  .title{max-width: 425px;}
  .text-des{max-width: 561px;}
  .img-wrapper img{margin: 0 auto;}
}
.wealify-features{
  padding-bottom: 20px;
  &::after{
    content: "";
    width: 373px; height: 746px;
    background: url("#{$img-path}/bg-d-feature.svg") no-repeat 0 0/contain;
    position: absolute; right: 0; bottom: -90px; z-index: -1;
  }
  .feature-list{
    align-items: flex-start;
    >*+*{margin-left: 5%;}
    .col-m{
      width: 347px;
      max-width: 45%;
    }
    .col-m:nth-child(even){padding-top: 74px;}
  }
  .item{
    margin-bottom: 40px;
    max-width: 347px;
    padding: 30px 20px;
    border-radius: 20px;
    background: var(--background-01, #F5F5F5);
    &:last-child{margin-bottom: 0;}
    .icon{width: 42px;}
  }
  h4{margin-bottom: 9px;}
  .content{width: calc(100% - 42px); padding-left: 20px;}
  .text-des{max-width: 340px;}
}
.wealify-about{
  padding: 96px 0 118px;
  &::after,&::before{content: ""; position: absolute; z-index: -1}
  &::before{
    width: 949px; height: 475px; max-width: 100%;
    background: url("#{$img-path}/bg-d-about-2.svg") no-repeat 0 0/contain;
    top: 0; left: 0; right: 0; margin: 0 auto;
  }
  &::after{
    width: 100%; height: 991px;
    background: url("#{$img-path}/bg-d-about-1.svg") no-repeat center center/cover;
    top: 0; left: 0;
  }
  .content{max-width: 502px; padding: 10px 0 0 50px;}
  .title{max-width: 335px;}
  .text-des{max-width: 816px; margin: 0 auto;}
  .img-wrapper img{border-radius: 20px;}
}
.wealify-drivers{
  padding: 120px 0 0;
  .driver-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    .img-wrapper{margin-bottom: 30px;}
    .icon{width: 52px; height: 52px;}
    h4{margin-bottom: 12px;}
    p{font-weight: 600;}
  }
}
.wealify-branch{
  background: url("#{$img-path}/bg-d-global.svg") no-repeat bottom center/cover;
  .branch-list{
    display: grid;
    grid-template-columns: repeat(3,minmax(auto,300px));
    grid-gap: 40px;
    justify-content: center;
  }
  .branch{
    padding: 30px 15px;
    border-radius: 20px;
    background: var(--white, #FFF);
    box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
    text-align: center;
    .img{margin: 0 auto 20px; width: 64px;}
    h4{margin-bottom: 12px;}
    .hotline{
      margin: 5px 0;
      a{color: var(--black);}
    }
    .mail a{color: #FF5942; text-decoration: underline;}
  }
}
.wealify-benefits{
  padding: 96px 0 134px;
  background: var(--black);
  .title{max-width: 575px; margin-bottom: 50px; color: #fff;}
  .content{padding-bottom: 25px;}
  ul{
    li{
      display: flex; justify-content: space-between; align-items: center;
      padding: 19px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.07); position: relative;
    }
    li::after{
      content: "";
      width: 20px; height: 20px;
      background: url("#{$img-path}/arrow-up-right-1.svg") no-repeat;
      display: block;
    }
    a{display: block; flex: 1; padding-right: 30px; color: #fff;}
    li:hover{
      &::after{background: url("#{$img-path}/arrow-up-right.svg") no-repeat;}
      a{color: #FF5942;}
    }
  }
}
.wealify-reviews{
  padding: 120px 0 160px;
  .header{margin-bottom: 72px;}
  .title{max-width: 455px;}
  .text-des{max-width: 340px; padding: 30px 0;}
  .reivew-control{
    margin-right: calc((100% - 1250px)/2); justify-content: flex-end; margin-top: 60px;
    button{
      width: 42px; height: 42px;
      background: #F5F5F5 url("#{$img-path}/arrow-right-1.svg") no-repeat center center;
      border-radius: 50%;
      &:hover{filter: invert(1);}
    }
    .btn-prev{transform: rotate(180deg); margin-right: 10px;}
  }
}
.review-list{
  margin-left: calc((100% - 1250px)/2);
  .slick-list{padding-right: 80px;}
  .item{
    margin: 0 15px;
    padding: 40px 30px;
    background: #F5F5F5;
    border-radius: 20px;
  }
  .text-review{min-height: 220px; margin-bottom: 20px;}

  .author{
    &__img{
      width: 70px; height: 70px;
      img{width: 100%; height: 100%; object-fit: cover;}
    }
    &__detail{padding-left: 16px;}
  }
}
.wealify-support{
  padding-top: 120px;
  background: url("#{$img-path}/bg-d-support.svg") no-repeat bottom center/contain;
  .title{max-width: 666px;}
  .support-list{
    display: grid;
    grid-template-columns: repeat(3,minmax(auto,250px));
    grid-gap: 80px;
    margin-bottom: 60px;
    justify-content: center;
    .item{text-align: center;}
    .icon{width: 60px; margin: 0 auto 24px;}
    h4{margin-bottom: 12px;}
  }
  .img-wrapper{
    img{margin: 0 auto;}
  }
}
.wealify-info{
  .title{font-size: 38px; line-height: 54px;}
  .info-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    h4{margin-bottom: 12px;}
    p{margin-bottom: 20px; font-weight: 600;}
    .btn-more{
      color: #FF5942; border-bottom: 1px solid #FF5942;
      &:hover{color: #c71e07; border-bottom: 1px solid #c71e07;}
    }
  }
}
.wealify-payment{
  padding: 64px 0 140px;
  &::after{
    content: "";
    width: 1245px; height: 1026px;
    background: url("#{$img-path}/bg-d-payment.svg") no-repeat 0 0/contain;
    position: absolute; top: 0; right: 0; z-index: -1;
  }
  .text-des{margin-bottom: 58px; max-width: 446px;}
  .time{
    &::before{
      content: "";
      width: 24px; height: 24px; display: block;
      background: url("#{$img-path}/calendar.svg") no-repeat 0 0/contain;
      margin-right: 11px;
    }
  }
  .box-table{max-width: 633px;}
}
.wealify-chart{
  .header{margin-bottom: 60px; justify-content: space-between;}
  .name{margin-right: 16px; font-size: 38px; line-height: 54px; font-weight: 600;}
  .satus{
    padding: 8px 20px; border-radius: 9999px;
    &.down{background: rgba(244, 45, 45, 0.08); color: #F42D2D;}
  }
  .exchange{
    margin-right: 12px;
    &::before{
      content: "";
      width: 8px; height: 8px;
      display: block; margin-right: 12px;
      background: #1CBD70; border-radius: 50%;
    }
  }
  time{font-weight: 600; color: #666;}
}
.wealify-table{
  .title{margin-bottom: 40px;}
}
.wealify-banner{
  margin-top: -84px;
  .banner{
    img{width: 100%; object-fit: cover;}
    &__content{
      width: 100%; height: 100%; padding-top: 260px; position: absolute; top: 0; left: 0; color: #fff; z-index: 2;
      @media (max-width: 1440px) {
        padding-top: 135px;
      }
    }
  }
  .text-des{max-width: 446px; margin: 0 auto 40px;}
  h1{margin: 0 auto 24px; max-width: 766px; font-size: 52px; line-height: 68px; font-weight: 600; color: #fff;}
}
.wealify-dream{
  padding-bottom: 85px;
  background: linear-gradient(180deg, #FEEBEA 0%, rgba(254, 235, 234, 0.00) 100%);
  .header{
    margin-bottom: 68px;
    justify-content: space-between;
  }
  .title{max-width: 475px;}
  .text-des{max-width: 340px; margin-right: 100px; padding-top: 30px;}
  .check-list{
    margin: 0; max-width: 40%;
    >*+*{border-top: 1px solid #EDEDED; margin-top: 0;}
    li{
      padding: 30px 0 30px 48px;
      &::before{width: 32px; height: 32px; top: 30px;}
    }
    h4{margin-bottom: 12px;}
  }
  .img-wrapper{width: 740px; position: absolute; right: 0; bottom: 0;}
}
.wealify-paying{
  background: url("#{$img-path}/bg-d-paying.svg") no-repeat 0 0/cover;
  .title{max-width: 483px;}
  .box-item{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,minmax(auto,490px));
    justify-content: center;
    grid-gap: 50px;
    .item{
      padding: 35px; 
      border-radius: 20px;
      background: linear-gradient(137deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.00) 100%);
      box-shadow: 0px 54px 100px 0px rgba(0, 0, 0, 0.24);
      backdrop-filter: blur(21px);
      border: 2px solid rgba(255, 255, 255, 0.21);
       color: #fff;
    }
    .icon{width: 60px; margin-bottom: 24px;}
    h3{margin-bottom: 4px;}
  }
  ul{
    >*+*{border-top: 1px solid rgba(#fff,.12);}
    li{padding: 20px 0 20px 20px; font-weight: 700; position: relative;}
    li::before{
      content: "";
      width: 8px; height: 8px;
      border-radius: 50%;
      position: absolute; left: 0; top: 30px;
    }
    &.no-list li::before{background: #fff;}
    &.yes-list li::before{background: #1CBD70;}
  }
}
.wealify-help{
  padding: 90px 0;
  background: linear-gradient(0deg, #FFDEDE 0%, #FEEDED 0%, rgba(255, 222, 222, 0.00) 100%);
  &.sm{
    padding: 53px 0 90px;
    &::before,&::after{display: none;}
  }
  &::after,&::before{
    content: ""; position: absolute; top: 60px; max-width: 40%; z-index: -1;
  }
  &::before{
    width: 421px; height: 331px;
    background: url("#{$img-path}/img-d-h1.svg") no-repeat 0 0/contain;
    left: 0;
  }
  &::after{
    width: 415px; height: 331px;
    background: url("#{$img-path}/img-d-h2.svg") no-repeat 0 0/contain;
    right: 0;
  }
  .box-search{
    h5{margin-bottom: 12px;}
  }
  form{
    max-width: 600px; margin: 0 auto;
    box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
    input{
      width: 100%; height: 56px;
      padding: 0 23px;
      background: #fff;
      border-radius: 5px;
      font-weight: 600;
      color: #333;
      border: none;
      &:focus{outline: none;}
      &::placeholder{color: #888888;}
    }
    .btn-submit{
      width: 24px; height: 24px;
      background: url("#{$img-path}/icon-search.svg") no-repeat 0 0/contain;
      position: absolute; top: 15px; right: 17px;
    }
  }
  .tag-list{
    a{margin: 0 11.5px; color: var(--black); font-weight: 600;}
    a:hover{color: #FF5942;}
  }
  .questions{
    margin-top: 110px;
  }
  .question-list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 30px;
    a{
      display: flex; flex-direction: column;
      justify-content: flex-end;
      padding: 30px 5px 25px;
      border-radius: 20px;
      background: var(--white, #FFF);
      box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
      text-align: center;
      color: var(--black);
    }
    img{display: block; margin: 0 auto 28px;}
  }
}
.wealify-topics{
  background: var(--black);
  padding: 100px 0;
  .title{margin-bottom: 30px; font-size: 52px; line-height: 68px;}
  .topic-tag{
    margin: 0 -10px -40px;
    a{
      display: inline-block;
      margin: 10px;
      padding: 8px 22px;
      border-radius: 5px;
      border: 2px solid rgba(255, 255, 255, 0.24);
      font-weight: 700;
      font-size: 15px; line-height: 24px;
      color: #fff;
      &:hover,&.active{background: #FF5942; color: var(--black); border: 2px solid transparent;}
    }
  }
  .topic-list{
    color: #fff;
    .inside{padding: 16px 0; font-size: 16px; line-height: 36px; font-weight: 700;}
    .item{
      &__header{justify-content: space-between; padding: 17px 0; border-bottom: 1px solid rgba(#fff,0.07); cursor: pointer;}
      a{display: block; color: #fff; padding: 16px 0; border-bottom: 1px solid rgba(#fff,0.07);}
      a:hover{color: #FF5942;}
    }
    .active{
      h4{color: #FF5942;}
      .icon-more{filter: grayscale(0); transform: rotate(0deg);}
    }
    h4{flex: 1; padding-right: 15px;}
    .icon-more{width: 20px; height: 20px; background: url("#{$img-path}/arrow-down-4.svg") no-repeat 0 0/contain; filter: grayscale(1); transform: rotate(180deg);}
  }
  .category{
    padding-top: 100px;
    .title{margin-bottom: 16px;}
  }
}
.wealify-faqs{
  padding: 100px 0;
  .faq-list{
    width: 25.4%;
    padding-left: 30px;
    border-left: 1px solid #EDEDED;
    .item{
      margin-bottom: 24px; position: relative;
      &__header{cursor: pointer;}
      &__content{padding-top: 8px;}
    }
    .item:last-child{margin-bottom: 0;}
    .active{
      &::before{
        content: "";
        width: 3px; height: 40px;
        background: #FF5942;
        position: absolute; top: 0; left: -32px;
      }
      h4::after{transform: rotate(0deg);}
    }
    h4::after{
      content: "";
      width: 16px; height: 16px; display: block;
      margin-left: 8px;
      background: url("#{$img-path}/arrow-down-4.svg") no-repeat 0 0/contain;
      filter: brightness(0);
      transform: rotate(180deg);
    }
  }
  ul{
    li{padding: 8px 0;}
    a{font-weight: 600; font-size: 15px; line-height: 24px; color: #888888;}
    a:hover{color: var(--black);}
    .active{color: #FF5942;}
  }
  .box-answer{
    width: 66%;
    article{color: #888;}
  }
  .box-feedback{
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid #EDEDED;
    button{
      height: 44px;
      margin-left: 16px;
      padding: 0 20px;
      border-radius: 5px;
      border: 1px solid #DDD;
      text-transform: uppercase;
      &:hover{background: #ddd;}
      .icon{width: 24px; height: 24px; margin-left: 8px;}
    }
    .icon-yes{background: url("#{$img-path}/icon-yes.svg") no-repeat;}
    .icon-no{background: url("#{$img-path}/icon-no.svg") no-repeat;}
  }
}
.wealify-contact{
  padding: 37px 0 100px;
  &::before,&::after{content: ""; position: absolute; z-index: -1;}
  &::before{
    width: 100%; height: 635px;
    background: linear-gradient(0deg, #FFF 0%, #FEEEEE 100%);
    left: 0; top: 0;
  }
  &::after{
    width: 265px; height: 518px;
    background: url("#{$img-path}/bg-d-c1.svg") no-repeat 0 0/contain;
    left: 0; top: 84px;
  }
  .container::after{
    content: "";
    width: 316px; height: 518px;
    background: url("#{$img-path}/bg-d-c2.svg") no-repeat 0 0/contain;
    right: 0; top: 84px; position: absolute;
  }
  .header{
    max-width: 605px; margin: 0 auto 40px;
    p{margin-bottom: 25px;}
    a{display: inline-block; color: #FF5942; border-bottom: 1px solid #FF5942; line-height: 1;}
  }
  .form-contact{
    max-width: 668px; margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
    .form-group{margin-bottom: 0;}
    fieldset{
      display: none; margin-top: 24px;
      .form-group{margin-bottom: 24px;}
    }
    label{width: 100%; margin-bottom: 12px; font-size: 15px; line-height: 24px; font-weight: 600; color: #888888;}
    input,textarea{
      width: 100%;
      padding: 5px 15px;
      border-radius: 5px;
      border: 1px solid #DADADA;
      font-weight: 600;
      font-size: 15px;
      &:focus{outline: none; border: 1px solid #333;}
    }
    input{height: 44px;}
    textarea{height: 150px;}
  }
  .upload{
    min-height: 100px;
    padding: 16px;
    border-radius: 5px;
    border: 1px dashed #DADADA;
    background: #FCFCFC;
    color: #888888;
    p{font-size: 13px; font-weight: 600;}
    input{width: 100%; height: 100%; position: absolute; opacity: 0; cursor: pointer;}
    span{color: #FF5942;}
  }
  .image-holder{
    margin-top: 20px;
    .img{
      padding: 5px; border-radius: 9px;
      width: 120px; height: 120px;
      border: 1px dashed #DADADA;
      position: relative;
    }
    img{height: 100%; width: 100%; object-fit: cover; border-radius: 4px;}
    .cancel{padding: 0 4px; background: #c00; color: #ccc; font-weight: 500; position: absolute; top: 5px; right: 5px;}
  }
}
.wealify-info-contact{
  padding: 100px 0;
  border-top: 1px solid #EDEDED;
  .local-list,.office-list{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 50px;
    grid-row-gap: 40px;
    p{color: #888888;}
  }
  .office-list{
    p{max-width: 68%;}
  }
}

.page-coverter{
  header{
    &.scroll{background: var(--black);}
    .login{
      .btn-login{
        color: #fff;
        &:hover{border-bottom: 1px solid #fff;}
      }
      .btn-register{border: 1px solid #fff; color: #fff;}
      .arrow-right{filter: invert(1);}
    }
  }
  .navbar-nav{
    > li > a{color: #fff;}
    > li:hover{border-bottom: 1px solid #fff;}
    .show-menu{background: url("#{$img-path}/arrow-down-white.svg") no-repeat;}
  }
}

.bg-dc-virtual{
  &::after,&::before{content: ""; position: absolute;}
  &::before{
    width: 1035px; height: 838px;
    background: url("#{$img-path}/bg-d-virtual.svg") no-repeat 0 0/contain;
    top: 0; right: 0;
  }
  &::after{
    width: 732px; height: 545px;
    background: url(#{$img-path}/map.png), 50% / cover no-repeat;
    right: 0; top: 114px; opacity: .3; z-index: -1;
  }
}
.bg-dc-company{
  &::after{
    content: "";
    width: 100%; height: 1744px;
    background: url("#{$img-path}/bg-d-company.svg") no-repeat 0 0/cover;
    position: absolute; right: 0; top: -200px; z-index: -1;
  }
}
.bg-dc-desk{
  &::after,&::before{content: ""; position: absolute; z-index: -1;}
  &::after{
    width: 1042px; height: 1154px;
    background: url("#{$img-path}/bg-d-desk-1.svg") no-repeat 0 0/contain;
    right: 0; top: 109px;
  }
  &::before{
    width: 1440px; height: 857px;
    background: url("#{$img-path}/bg-d-desk-2.svg") no-repeat 0 0/contain;
    right: 0; top: 0;
  }
}

.setup-list{
  margin: 0 -15px;
  .slick-list{padding: 70px 70px 70px 0;}
  .item{
    display: flex; align-items: flex-start;
    padding: 20px;
    margin: 0 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
  }
  .img img{width: 50px;}
  .content{width: calc(100% - 50px); padding-left: 12px;}
  h4{margin-bottom: 4px;}
  p{margin-bottom: 12px; font-weight: 600;}
  .btn-setup{
    display: inline-block;
    padding: 4px 15px;
    background: #F5F5F5;
    border-radius: 5px;
    color: var(--black);
    &:hover{background: #e1e0e0;}
  }
}
.formation{
  margin: 140px 0 86px;
  >*+*{border-top: 1px solid #EDEDED;}
  .info-list{padding: 5px 0;}
  li{padding: 22px 0;}
  h3{margin-right: 40px; padding: 10px 0; font-weight: 600; font-size: 62px; line-height: 76px;}
  .lb{
    margin: 5px 40px 5px 0;
    padding: 9px 20px;
    background: #F5F5F5;
    border-radius: 9999px;
    &::before{
      content: "";
      width: 8px; height: 8px; border-radius: 50%;
      display: block; margin-right: 8px;
      background: linear-gradient(135deg, #FF843D 0%, #FF5942 100%);
    }
  }
}
.box-table{
  overflow: auto;
  &.border{border: 1px solid #ddd; border-radius: 5px;}
  .table-price{
    th:nth-child(2){color: #1CBD70;}
    th:nth-child(3){color: #F42D2D;}
    th,td{
      padding: 14px 10px; text-align: center;
      border-right: 1px solid #dddddd;
      &:last-child{border-right: none;}
    }
    th{ border-bottom: 1px solid #dddddd;}
    th{background: none; font-weight: 700;}
    tr:last-child td{ border-bottom: none;}
  }
  .coin{
    &__img{width: 28px; height: 28px;}
    &__info{text-align: left; padding-left: 8px;}
    p{font-weight: 600; font-size: 15px; line-height: 1.3;}
    span{font-size: 14px; line-height: 24px; font-weight: 500;}
  }
  .currency{
    .icon{width: 24px; height: 24px; margin-left: 0;}
    .name{padding-left: 8px;}
  }
  table{
    width: 100%; border-collapse: collapse;
    th{background: #FAFAFA; color: #666666; font-weight: 600;}
    th,td{
      padding: 13px 20px; text-align: left;
    }
    .flex-lc{flex-wrap: nowrap;}
    td{ border-bottom: 1px solid #dddddd;}
  }
  .txt span{margin-left: 4px;}
  .down{color: #F42D2D;}
  .up{color: #1CBD70;}
  .icon{width: 16px; height: 16px; display: block; margin-left: 8px;}
  .icon-up{background: url("#{$img-path}/arrow-up-1.svg") no-repeat 0 0/contain;}
  .icon-down{background: url("#{$img-path}/arrow-down-2.svg") no-repeat 0 0/contain;}
  .arrow-up{width: 14px; height: 14px; margin-left: 4px; background: url("#{$img-path}/arrow-down-3.svg") no-repeat;}
}
.box-tab{
  padding: 30px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
  .tab{
    border: 1px solid #ddd; border-radius: 5px;
    >*+*{border-left: 1px solid #ddd;}
    li{width: 50%;}
    a{display: block; height: 100%; padding: 14px 0; font-size: 14px; color: var(--black); text-align: center; position: relative;}
    .active{
      color: #FC553B;
      &::after{
        content: "";
        width: 100%; height: 1px;
        background: #FC553B;
        position: absolute; bottom: -1px; left: 0;
      }
    }
  }
  .item{
    justify-content: space-between;
    padding: 15px 30px 20px;
    border-radius: 5px;
    background: #F5F5F5;
    h5{margin-bottom: 15px; color: #666666;}
    .bal{color: #ABABAB; font-size: 32px; line-height: 1;}
  }
  .selected{
    padding: 10px 12px;
    background: #fff;
    border-radius: 20px;
    .name{padding: 0 6px;}
    .icon-arr{width: 14px; height: 14px; background: url("#{$img-path}/arrow-down.svg") no-repeat 0 0/contain;}
  }
  .currency{margin-bottom: 10px; color: #666666; text-align: right;}
  .exchange{margin: 14px 0 28px; font-weight: 500; color: #666666;}
  .btn-transfer{
    width: 52px; height: 52px; display: block;
    background: url("#{$img-path}/arrow-up.svg") no-repeat 0 0/contain;
    margin: 16px auto;
    &:hover{filter: invert(1); -webkit-filter: invert(1);}
  }
  .box-btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;

  }
  button{height: 52px; border-radius: 5px;}
  .btn-arlet{
    border: 1px solid #111;background: #FFF; color: var(--black);
    &:hover{color: #6a6a6a;}
  }
  .btn-submit{
    background: var(--black); color: #fff;
    &:hover{color: #ccc;}
  }
}
.rating{
  margin-bottom: 20px;
  width: 91px; height: 15.5px;
  &__value{height: 100%; background: url("#{$img-path}/star.png") repeat-x;}
}


footer{
  background: var(--black);
  padding-top: 82px;
  position: relative;
  .col-m-4{width: 391px; margin-right: 132px;}
  .col-m-2{width: 120px; margin-right: 60px;}
  .col-m-3{width: 176px;}
  h4{
    margin-bottom: 18px;
    font-weight: 800;
    font-size: 13px; color: #888888;
    line-height: 20px; letter-spacing: 0.52px;
    text-transform: uppercase;
  }
  .link{
    a{color: #fff; font-weight: 600; font-size: 15px; line-height: 30px;}
    a:hover{color: var(--orange);}
  }
  .logo{width: 182px; display: block; margin-bottom: 32px;}
  .text{margin-bottom: 12px; color: #888;}
  .btn-more{
    padding-right: 16px;
    background: url("#{$img-path}/arrow-down-1.svg") no-repeat right center;
    color: #fff;
    &:hover{border-bottom: 1px solid #fff;}
  }
  .bottom{
    margin-top: 115px;
    padding: 30px 0;
    .menu{
      >*+*{margin-left: 40px;}
      a{color: #fff;}
      a:hover{color: #ccc;}
    }
    .copyright{
      margin-left: auto;
      color: #fff;
    }
  }
  .social{
    margin-top: 28px;
    >*+*{margin-left: 34px;}
    i{color: #fff; font-size: 20px;}
  }
}

.select2-container{
  background: #fff;
  border: 1px solid #DADADA;
  border-radius: 5px;
  .selection{}
  &:focus{outline: none;}
}
.select2{width: 100% !important;}
.selection,.select2-selection{
  &:focus{outline: none;}
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 15px;
  padding-right: 15px;
  color: var(--black);
  font-size: 15px;
  font-weight: 600;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-radius: 12px;}
.select2-container .select2-selection--single{height: 44px; width: 100%;}
.select2-container--default .select2-selection--single{border: none; background: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 44px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 42px; width: 32px;}
.select2-search--dropdown{display: none;}
.select2-container--default .select2-results__option--selected{background: #e0e0e0 !important; color: var(--blue) !important;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background: none; color: #212121;}
.select2-container--default .select2-results__option:hover{background: #efefef; color: #212121;}
.select2-container--open .select2-dropdown--below{
  padding: 15px;
  margin-top: 4px;
  background: #fff;
  box-shadow: 1px 4px 24px rgba(209, 209, 209, 0.25);
  border-radius: 8px;
  border: 1px solid #D5D5D7;
}
.select2-container--default .select2-results > .select2-results__options{
  padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  width: 12px; height: 12px;
  background: url("#{$img-path}/arrow-down-5.svg") no-repeat 0 0/contain;
  top: 54%; transform: translate(-50%,-50%); left: 50%;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  transform: translate(-50%,-50%) rotate(180deg);
}
.select2-container--default .select2-results>.select2-results__options{
  padding: 0; background: #fff; border-radius: 8px;
  >*+*{margin-top: 16px;}
  overflow: auto;
  &::-webkit-scrollbar{width: 3px;}
  &::-webkit-scrollbar-track{background: #fcfcfc;}
  &::-webkit-scrollbar-thumb{background: #ccc;}
}
.select2-results__option{
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  color: #4E4C50
}
.select2-container--default .select2-results__option[aria-selected=true]{background: none;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  padding-right: 18px;
  background: url("#{$img-path}/tick-1.svg") no-repeat right center;
  color: #140000; font-weight: 500;
}


//uikit
.pr{position: relative;}
.pa{position: absolute;}
li{list-style: none;}
.bg-sh{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}
.tag{
  display: inline-block;
  margin-bottom: 20px;
  padding: 7.5px 19px;
  font-size: 13px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.52px;
  text-transform: uppercase;
  border: 1px solid #FF5942;
  color: #FF5942;
  border-radius: 9999px;
}
.arrow-right{width: 16px; height: 16px; margin-left: 4px; background: url("#{$img-path}/arrow-right.svg") no-repeat 0 0/contain;}
.text-justify{text-align: justify;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-sm{margin-bottom: 32px;}
.mt-sm{margin-top: 32px;}
.mb-xs{margin-bottom: 24px;}
.mb-lg{margin-bottom: 120px;}
.mt-md{margin-top: 80px;}
.py-lg{padding: 120px 0;}
.pt-lg{padding-top: 120px;}

h1{color: var(--black); margin-bottom: 10px; font-weight: 700; font-size: 40px; line-height: 60px;}
.title{
  font-weight: 600;
  font-size: 62px;
  line-height: 76px;
  color: var(--black);
  span{color: #888888;}
  &.white{color: #fff;}
  &.sm{font-size: 40px; line-height: 56px;}
  &.xs{font-size: 38px; line-height: 54px;}
}
.center{text-align: center;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}
.txt-xs{font-size: 15px; line-height: 24px; font-weight: 700;}
.txt-sm{font-size: 18px; line-height: 28px; font-weight: 600;}
.txt-md{font-size: 22px; line-height: 30px;}
.txt-lg{font-size: 40px; line-height: 56px; font-weight: 600;}
.txt-xl{font-size: 64px; line-height: 96px; font-weight: 700;}
.txt-black{color: var(--black);}
.font-bold{font-weight: 700;}
.font-semibold{font-weight: 600;}
button{
  background: none; padding: 0; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
.box-btn{
  >*+*{margin-left: 20px;}
}
.btn-pr,.btn-sub{
  display: flex; align-items: center;
  font-weight: 700;
  font-size: 15px; line-height: 24px;
}
.btn-pr{
  height: 44px;
  background: #000;
  padding-left: 30px;
  padding-right: 20px;
  border-radius: 8px;
  color: #fff;
  .arrow-right{filter: invert(1); transition: .3s;}
  &.white{
    background: #fff; color: var(--black);
    .arrow-right{filter: invert(0);}
    &:hover{color: var(--black); background: #efecec;}
    &:hover .arrow-right{filter: invert(0);}
  }
  &:hover{
    color: #ccc;
    .arrow-right{filter: invert(.8); transform: translateX(3px);}
  }
}
.btn-sub{
  border-bottom: 1px solid var(--black);
  color: var(--black);
  &.white{color: #fff; border-color: #fff;}
  &:hover{color: #e57764; border-bottom: 1px solid #e57764;}
}
.breadcrumb{
  padding: 27.5px 0; background: none; margin-bottom: 0;
  a{font-weight: 500; color: #726666;}
  .active{font-weight: 700; color: var(--black);}
  .breadcrumb-item + .breadcrumb-item::before{font-weight: 400; padding-right: .1rem;}
  .breadcrumb-item + .breadcrumb-item{padding-left: .1rem;}
}
.check-list{
  margin: 25px 0 40px;
  >*+*{margin-top: 16px;}
  li{
    padding-left: 40px;
    list-style: none;
    font-weight: 600; font-size: 15px; line-height: 24px;
    position: relative;
    &::before{
      content: "";
      width: 24px; height: 24px;
      background: url('#{$img-path}/tick.svg') no-repeat 0 0/contain;
      position: absolute; left: 0; top: 0;
    }
  }
}
.slick-dots{
  display: flex; justify-content: center; margin-top: 50px;
  li{margin: 0 10px;}
  button{
    width: 40px;
    height: 6px;
    background: #D9D9D9;
    border-radius: 4px;
    font-size: 0;
  }
  .slick-active button{background: var(--orange);}
}

@media (min-width: 1336px) {
  .container{max-width: 1270px;}
}
@media(max-width: 1280px){
  .navbar-nav{padding-left: 0;}
  .wealify-discover{
    .header{
      .text{margin-left: 5%;}
    }
    .item{
      &__img,&__content{max-width: 47%;}
      &__content{margin-left: 5%;}
    }
  }
  .wealify-intro{
    .img-wrapper{max-width: 50%;}
  }
  .wealify-reviews{
    .reivew-control{margin-right: calc((100% - 1150px)/2);}
  }
  .wealify-dream{
    .img-wrapper{max-width: 54%;}
  }
  .wealify-feedback{
    .feedback{
      .content .text{min-height: auto;}
    }
  }
  .review-list{
    margin-left: calc((100% - 1150px)/2);
  }
}
@media (max-width: 1024px) {
  header{
    .navbar-toggle{display: block; position: absolute; right: 0;}
    .container-fluid{padding: 0 15px;}
    .login{
      width: 100%; padding: 0 25px;
      &__before{
        justify-content: space-between;
        .btn-login{padding-left: 0;}
      }
    }
    &.scroll .navbar{padding: 18px 0;}
  }
  .navbar{
    width: 100%; padding: 20px 0; min-height: auto; justify-content: flex-start;
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: 0; left: -100%;
    width: 100%; height: calc(100% - 0px);
    padding: 0 0 15px;
    background: #fff;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggle{
    display: block;
    width: 18px;
    height: 12px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px; border-radius: 2px;
      background: #1C1B1F; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #1C1B1F; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 25px;
    >*+*{margin: 30px 0 0;}
    > li > a{line-height: inherit;}
    > li > .sub-menu{order: 3;}
    > li .show-menu{order: 2;}
    > li:hover .sub-menu{display: block;}
    .active::after{display: none;}
    
    .sub-menu{
      width: 100%; padding: 20px 15px; position: relative; top: 0;  display: none;
      &.lg{
        top: 0; display: none;
        >*+*{margin-top: 30px;}
      }
    }
  }
  .login--mobile{
    display: block;
    padding: 0 15px; width: 100%;
    position: absolute; top: 66px; z-index: 2;
    .login__before{display: flex; justify-content: space-between;}
    .btn-login{color: var(--orange); font-weight: 600;}
    .btn-pr{box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16); }
  }
  main{padding-top: 60px; overflow: hidden;}
  .wealify-intro{
    .content{max-width: 55%;}
    h1{font-size: 56px; line-height: 70px;}
  }
  .wealify-faq{
    .faq-list{max-width: 60%;}
  }
  .wealify-reviews{
    .reivew-control{margin-right: 15px;}
  }
  .wealify-banner{
    &::after{
      content: "";
      width: 100%; height: 40%;
      position: absolute; bottom: 0; left: 0;
      background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, #111 100%);
    }
  }
  .wealify-feedback{
    .feedback{
      .content{padding: 30px;}
    }
  }
  .wealify-faqs{
    padding: 60px 0;
    .faq-list{
      width: 30%;
      h4 span{flex: 1;}
    }
  }
  .wealify-about{
    .content{padding: 0;}
  }

  .review-list{margin-left: 0;}
  .formation{
    h3{font-size: 48px; line-height: 64px;}
  }
  .page-coverter{
    .navbar-toggle{
      span,span::before,span::after{background: #fff;}
    }
  }

  .title{font-size: 56px; line-height: 70px;}
  .container{max-width: 100%;}
  .select2-container .select2-selection--single{height: 44px;}
  .select2-container .select2-selection--single .select2-selection__rendered{padding-left: 16px; font-size: 16px;}
  .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 44px;}
}

@media (max-width: 820px) {
  .navbar-toggler{margin-left: 0;}
  .wealify-intro{
    padding: 60px 0 50px;
    h1{font-size: 50px; line-height: 58px;}
  }
  .wealify-discover{
    padding: 60px 0;
    .header{
      margin-bottom: 30px;
      flex-direction: column; align-items: flex-start;
      .text{margin: 30px 0 0; padding-bottom: 0;}
    }
  }
  .wealify-platform{
    padding: 60px 0 20px;
    .header{
      margin-bottom: 30px;
      flex-direction: column; align-items: flex-start;
    }
    .text-des{padding-bottom: 0; margin: 30px 0 0;}
  }

  .wealify-text{
    &.bg-dc-virtual{padding: 80px 0 40%;}
  }
  .wealify-work{
    .step-list li{width: 22%;}
    .procedure{grid-gap: 20px; margin: 40px 0;}
  }
  .wealify-wcc{
    .img-wrapper{width: 75%; top: -24%;}
    .content{padding: 25% 0 60px;}
  }
  .wealify-value{
    padding: 60px 0;
    .header{margin-bottom: 60px;}
    .text-des{padding-top: 30px;}
    .value-list{grid-column-gap: 60px; grid-row-gap: 60px;}
  }
  .wealify-faq,.wealify-register,.wealify-about{
    padding: 60px 0;
  }
 
  .wealify-features{
    .item{padding: 20px 15px;}
  }
  .wealify-partners{
    padding: 60px 0;
    .partner-list{
      .item{margin: 10px 15px;}
    }
  }
  .wealify-feedback{
    .feedback{padding: 40px;}
    .text{font-size: 32px; line-height: 46px;}
    .img-wrapper img{height: 100%;}
  }
  .wealify-procedure,.wealify-about-desk{padding: 60px 0;}
  .wealify-text{
    &.bg-dc-desk{padding-bottom: 40px;}
    &.bg-dc-company{padding: 40px 0 0;}
    .img-wrapper{margin-top: 30px;}
    .header{margin-bottom: 0;}
  }
  .wealify-drivers{
    padding-top: 60px;
    .driver-list{grid-gap: 30px;}
  }
  .wealify-branch{
    .branch-list{grid-gap: 30px;}
  }
  .wealify-support{
    padding-top: 60px;
    .img-wrapper{max-width: 80%; margin: 0 auto;}
    .support-list{grid-gap: 20px;}
  }
  .wealify-reviews{
    padding: 60px 0;
    .header{margin-bottom: 30px;}
  }
  .wealify-benefits{
    padding: 60px 0;
  }
  .wealify-payment{
    padding: 60px 0;
  }
  .wealify-banner{
    .banner{
      &__img img{min-height: 60vw;}
    }
    h1{font-size: 38px; line-height: 1.4;}
  }
  .wealify-dream{
    padding-bottom: 0;
    .check-list{max-width: 100%;}
    .header{margin-bottom: 30px;}
    .img-wrapper{max-width: 80%; position: relative; margin: 0 -15px 0 auto;}
  }
  .wealify-help{
    padding: 60px 0;
    &.sm{padding-bottom: 60px;}
    .questions{margin-top: 60px;}
    .question-list{grid-template-columns: repeat(3,1fr);}
  }
  .wealify-topics{
    padding: 60px 0;
    .title{font-size: 46px; line-height: 58px;}
    .category{padding-top: 60px;}
    .topic-tag{
      margin: 0 -5px -20px;
      a{margin: 5px;}
    }
  }
  .wealify-contact{padding-bottom: 60px;}
  .wealify-info-contact{
    padding: 60px 0;
    .local-list,.office-list{grid-gap: 30px;}
    .office-list p{max-width: 100%;}
  }
  
  .review-list{
    .item{padding: 30px 20px;}
  }
  .formation{
    margin: 60px 0;
    li{padding: 15px 0;}
    h3{margin-right: 20px; font-size: 40px; line-height: 1.3;}
    .lb{margin-right: 20px;}
  }
  .setup-list{
    .item{margin: 0 10px;}
  }
  .box-tab{margin-top: 40px;}

  .py-lg{padding: 60px 0;}
  .pt-lg{padding-top: 60px;}
  .mt-md{margin-top: 50px;}
  .mb-lg{margin-bottom: 60px;}
  .txt-lg{font-size: 35px; line-height: 1.4;}
  .title{
    font-size: 50px; line-height: 58px;
    &.xs{font-size: 32px; line-height: 42px;}
    &.sm{font-size: 34px; line-height: 46px;}
  }
}

@media (max-width: 767px) {
  .wealify-intro{
    .content{max-width: 100%;}
    .img-wrapper{max-width: 86%; top: 50px; margin-left: auto; position: relative;}
  }
  .wealify-platform{
    .item{max-width: 100%; padding: 30px 0;}
    .img-wrapper{margin: 30px -20px 0;}
  }
  .wealify-about-desk{
    .img-wrapper{margin-top: 30px;}
  }
  .wealify-about{
    .img-wrapper{
      margin-bottom: 30px;
      img{margin: 0 auto;}
    }
    
  }
  .wealify-features{
    .feature-list{
      margin-bottom: 40px;
      .col-m{max-width: 100%;}
      .col-m:nth-child(even){padding-top: 30px; margin-left: 0;}
    }
    .item{margin-bottom: 30px;}
  }
  .wealify-procedure{
    ul::after{display: none;}
    ul{
      margin-top: 50px;
      li{width: 50%; margin-bottom: 30px;}
    }
  }
  .wealify-feedback{
    .feedback{
      &__content{
        .text{min-height: auto;}
      }
      &.p-sm{padding: 30px 0 20px 20px;}
      .text{margin-bottom: 40px; font-size: 28px; line-height: 1.3;}
      h4{margin-bottom: 25px;}
    }
  }
  .wealify-text{
    .img-wrapper{margin-bottom: 30px;}
    .content.md{max-width: 100%;}
  }
  .wealify-drivers{
    .driver-list{grid-template-columns: repeat(2,1fr); grid-column-gap: 15px;}
  }
  .wealify-branch{
    .branch-list{grid-template-columns: repeat(1,1fr);}
  }
  .wealify-table{
    .title{margin-bottom: 20px;}
  }
  .wealify-paying{
    .box-item{grid-template-columns: repeat(1,1fr); grid-gap: 30px;}
  }
}

@media (max-width: 640px) {
  .wealify-intro{
    padding-top: 30px;
    h1{margin-bottom: 26px; font-size: 38px; line-height: 1.4; letter-spacing: -1px;}
  }
  .wealify-discover{
    &::after{display: none;}
    .item{
      opacity: .2; transition: .3s;
      &__img,&__content{max-width: 100%; margin: 0;}
      &__img{transform: translateY(0);}
      &__content{padding-left: 20px;}
    }
    video{margin-top: 0;}
    .slick-track{display: block; flex-direction: column;}
    .slick-slide{height: auto;}
    .slick-list{padding: 0 40px 0 0;}
    .slick-current{
      opacity: 1;
      .item__img{display: block;}
      .item__content{padding-left: 0;}
    }
  }
  .wealify-feedback{
    .feedback{padding: 40px 20px;}
    .author{padding-right: 85px;}
    .text{font-size: 24px; line-height: 1.4;}
    .slick-arrow{width: 36px; height: 36px;}
    .slick-prev{right: 42px;}
  }
  .wealify-partners{
    .partner-list{
      flex-wrap: wrap;
      .item{width: 46%; margin: 2%;}
    }
  }
  .wealify-wcc{
    .title{margin-bottom: 30px;}
    .content{padding-top: 25vw;}
    .img-wrapper{width: 90%; top: -23vw;}
  }
  .wealify-text{
    &.bg-dc-virtual{padding-top: 50px;}
  }
  .wealify-work{
    .step-list{
      margin-top: 50px;
      &::after{display: none;}
      li{width: 48%; margin-bottom: 30px;}
    }
    .procedure{grid-template-columns: repeat(2,1fr);}
  }
  .wealify-value{
    .value-list{grid-template-columns: repeat(2,1fr); grid-gap: 30px;}
  }
  .wealify-faq{
    .faq-list{max-width: 100%; margin-top: 30px;}
  }
  .wealify-feedback{
    .feedback{
      &__content{width: 100%;}
      &__img{width: 85%; margin: 20px 0 0 auto;}
      .img-wrapper{
        width: 100%; height: 70vw;
        img{border-radius: 20px;}
      }
      .content{width: 100%; padding: 30px 15px;}
    }
  }
  .wealify-info{
    .info-list{grid-gap: 20px;}
  }
  .wealify-support{
    .support-list{grid-template-columns: repeat(1,1fr); grid-row-gap: 30px;}
  }
  .wealify-info{
    .info-list{
      grid-template-columns: repeat(1,1fr); grid-row-gap: 40px;
      p{margin-bottom: 10px;}
    }
  }
  .wealify-daboard{
    .img-daboard{max-width: 90%; margin: 30px auto 0;}
  }
  .wealify-banner{
    h1{font-size: 32px;}
    .banner{
      &__img img{min-height: 75vh;}
    }
  }
  .wealify-dream{
    .check-list{
      li{padding: 20px 0 20px 48px;}
      li::before{top: 20px;}
    }
  }
  .wealify-paying{
    .box-item{
      .item{padding: 30px 15px;}
    }
  }
  .wealify-register{
    .form-register{
      input{max-width: calc(100% - 120px);}
      .btn-submit{padding: 14px 10px;}
    }
  }
  .wealify-topics{
    .topic-tag a{padding: 7px 14px; font-size: 14px; line-height: 24px;}
  }
  .wealify-help{
    .question-list{grid-template-columns: repeat(2,1fr); grid-gap: 15px;}
    .tag-list a{margin: 0 8px;}
  }
  .wealify-faqs{
    .faq-list{width: 100%; margin-bottom: 50px;}
    .box-answer{width: 100%;}
    .box-feedback{
      button{padding: 0 15px; margin-left: 10px; height: 40px;}
    }
  }
  .wealify-contact{
    .form-contact{padding: 30px 15px;}
  }
  .wealify-info-contact{
    .local-list{grid-template-columns: repeat(1,1fr);}
    .office-list{grid-template-columns: repeat(2,1fr); grid-column-gap: 20px;}
  }

  .formation{
    h3{padding: 5px 0; font-size: 30px;}
  }
  .box-tab{
    padding: 30px 15px;
    .item{padding: 15px 15px;}
    button{height: 44px;}
  }
  .box-table{
    table{
      th,td{padding: 12px;}
    }
  }

  footer{
    padding-top: 60px;
    .col-m-4{width: 100%; margin: 0;}
    .col-m-2,.col-m-3{width: 50%; margin: 30px 0 0;}
    .social >*+*{margin-left: 24px;}
    .bottom{
      margin-top: 40px;
      .menu{
        width: 100%; justify-content: center;
        >*+*{margin-left: 18px;}
      }
      .copyright{width: 100%; text-align: center; margin: 15px 0 0;}
    }
  }

  .mb-sm{margin-bottom: 28px;}
  .title{font-size: 38px; line-height: 48px;}
  .txt-md{font-size: 20px; line-height: 28px;}
  .txt-lg{font-size: 34px; line-height: 46px;}
  .btn-pr{padding-left: 25px; padding-right: 15px;}
}

//animate
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}